<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="GuarantorsCreateDlg" widgetVar="GuarantorsCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateGuarantorsTitle}">
            <h:form id="GuarantorsCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{membersController.loan != null}">
                        <p:dataTable style="width: 500px;"  var="item" id="datalist" rowIndexVar="rowIndex"
                                     editable="true"
                                     editMode="row" value="#{membersController.guarators}">

                            <p:ajax event="rowEdit" listener="#{membersController.onRowEdit}" update=":GuarantorsCreateForm:datalist,:growl" />
                            <p:ajax event="rowEditCancel" listener="#{membersController.onRowCancel}" update=":GuarantorsCreateForm:datalist,:growl" />

                            <p:column style="width: 30px">
                                <f:facet name="header">
                                    <h:outputText value="NO."/>
                                </f:facet>
                                <h:outputText value="#{rowIndex+1}"/>                        
                            </p:column>
                            <p:column headerText="Guarantor" footerText="Total">
                                <p:cellEditor>
                                    <f:facet name="output">
                                        <h:outputText value="#{item.guarantorId.surname}"/>
                                    </f:facet>
                                    <f:facet name="input">
                                        <p:selectOneMenu filter="true" id="guarantorId" value="#{item.guarantorId}" required="true" requiredMessage="guarantor required">
                                            <f:selectItem itemLabel="Select One"/>
                                            <f:selectItems value="#{membersController.itemsAvailableSelectOne}"
                                                           var="guarantorIdItem" itemLabel="#{guarantorIdItem.trimmedSurname}"
                                                           itemValue="#{guarantorIdItem}"/>
                                            <p:ajax partialSubmit="true"/>
                                        </p:selectOneMenu>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column> 
                            <p:column headerText="Guaranteed Amount" footerText="#{membersController.totalForAllGuarantor}">
                                <p:cellEditor>
                                    <f:facet name="output">
                                        <h:outputText value="#{item.guaranteedAmount}"/>
                                    </f:facet>
                                    <f:facet name="input">
                                        <p:inputText id="en" value="#{item.guaranteedAmount}" style="width:100%">
                                            <p:ajax partialSubmit="true" update=":GuarantorsCreateForm:datalist"/>
                                        </p:inputText>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column style="width:32px">
                                <p:rowEditor />
                            </p:column>
                        </p:dataTable>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{membersController.createGuarantor}" value="#{bundle.Save}" update="display,:LoanViewForm:datalistguarantors,:growl" oncomplete="handleSubmit(args,'GuarantorsCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="GuarantorsCreateDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
