<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="GuarantorsEditDlg" widgetVar="GuarantorsEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditGuarantorsTitle}">
            <h:form id="GuarantorsEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{membersController.guarantor != null}">
                        <p:outputLabel value="#{bundle.EditGuarantorsLabel_guaranteedAmount}" for="guaranteedAmount" />
                        <p:inputText id="guaranteedAmount" value="#{membersController.guarantor.guaranteedAmount}" title="#{bundle.EditGuarantorsTitle_guaranteedAmount}" required="true" requiredMessage="#{bundle.EditGuarantorsRequiredMessage_guaranteedAmount}"/>
                        <p:outputLabel value="#{bundle.EditGuarantorsLabel_guarantorId}" for="guarantorId" />
                        <p:selectOneMenu filter="true" id="guarantorId" value="#{membersController.guarantor.guarantorId}" required="true" requiredMessage="#{bundle.EditGuarantorsRequiredMessage_guarantorId}">
                            <f:selectItems value="#{membersController.itemsAvailableSelectOne}"
                                           var="guarantorIdItem" itemLabel="#{guarantorIdItem.trimmedSurname}"
                                           itemValue="#{guarantorIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{membersController.createGuarantorSingle}" value="#{bundle.Save}" update="display,:LoanViewForm:datalistguarantors,:growl" oncomplete="handleSubmit(args, 'GuarantorsEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="GuarantorsEditDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
