<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AccountStatusEditDlg" widgetVar="AccountStatusEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditAccountStatusTitle}">
            <h:form id="AccountStatusEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{accountStatusController.selected != null}">
                        <p:outputLabel value="#{bundle.EditAccountStatusLabel_id}" for="id" />
                        <p:inputText id="id" value="#{accountStatusController.selected.id}" title="#{bundle.EditAccountStatusTitle_id}" required="true" requiredMessage="#{bundle.EditAccountStatusRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditAccountStatusLabel_status}" for="status" />
                        <p:inputText id="status" value="#{accountStatusController.selected.status}" title="#{bundle.EditAccountStatusTitle_status}" required="true" requiredMessage="#{bundle.EditAccountStatusRequiredMessage_status}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{accountStatusController.update}" value="#{bundle.Save}" update="display,:AccountStatusListForm:datalist,:growl" oncomplete="handleSubmit(args, 'AccountStatusEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="AccountStatusEditDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
