<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MemberBillsCreateDlg" widgetVar="MemberBillsCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateMemberBillsTitle}">
            <h:form id="MemberBillsCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2">
                        <p:outputLabel value="#{bundle.CreateMemberBillsLabel_amount}" for="amount" />
                        <p:inputText id="amount" value="#{membersController.billAmount}" title="#{bundle.CreateMemberBillsTitle_amount}" required="true" requiredMessage="#{bundle.CreateMemberBillsRequiredMessage_amount}"/>
                        <p:outputLabel value="#{bundle.CreateMemberBillsLabel_narration}" for="narration" />
                        <p:inputText id="narration" value="#{membersController.billNarration}" title="#{bundle.CreateMemberBillsTitle_narration}" required="true" requiredMessage="#{bundle.CreateMemberBillsRequiredMessage_narration}"/>
                        <p:outputLabel value="#{bundle.CreateMemberBillsLabel_dateIncured}" for="dateIncured" />
                        <p:calendar id="dateIncured" pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" value="#{membersController.whenBilled}" title="#{bundle.EditMemberBillsTitle_dateIncured}" required="true" requiredMessage="#{bundle.EditMemberBillsRequiredMessage_dateIncured}" showOn="button"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{membersController.billMember()}" value="#{bundle.Save}" update="display,:MembersListForm,:growl" oncomplete="handleSubmit(args,'MemberBillsCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="MemberBillsCreateDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
