<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListMemberBillsTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="MemberBillsListForm">
                <p:panel header="#{bundle.ListMemberBillsTitle}">
                    <p:dataTable id="datalist" value="#{memberBillsController.items}" var="item"
                                 selectionMode="single" selection="#{memberBillsController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMemberBillsTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMemberBillsTitle_amount}"/>
                            </f:facet>
                            <h:outputText value="#{item.amount}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMemberBillsTitle_narration}"/>
                            </f:facet>
                            <h:outputText value="#{item.narration}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMemberBillsTitle_dateIncured}"/>
                            </f:facet>
                            <h:outputText value="#{item.dateIncured}">
                                <f:convertDateTime pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMemberBillsTitle_memberId}"/>
                            </f:facet>
                            <h:outputText value="#{item.memberId}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{memberBillsController.prepareCreate}" update=":MemberBillsCreateForm" oncomplete="PF('MemberBillsCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":MemberBillsViewForm" oncomplete="PF('MemberBillsViewDialog').show()" disabled="#{empty memberBillsController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":MemberBillsEditForm" oncomplete="PF('MemberBillsEditDialog').show()" disabled="#{empty memberBillsController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{memberBillsController.destroy}" update=":growl,datalist" disabled="#{empty memberBillsController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
