<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MemberBillsViewDlg" widgetVar="MemberBillsViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewMemberBillsTitle}">
            <h:form id="MemberBillsViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{memberBillsController.selected != null}">
                        <h:outputText value="#{bundle.ViewMemberBillsLabel_id}"/>
                        <h:outputText value="#{memberBillsController.selected.id}" title="#{bundle.ViewMemberBillsTitle_id}"/>
                        <h:outputText value="#{bundle.ViewMemberBillsLabel_amount}"/>
                        <h:outputText value="#{memberBillsController.selected.amount}" title="#{bundle.ViewMemberBillsTitle_amount}"/>
                        <h:outputText value="#{bundle.ViewMemberBillsLabel_narration}"/>
                        <h:outputText value="#{memberBillsController.selected.narration}" title="#{bundle.ViewMemberBillsTitle_narration}"/>
                        <h:outputText value="#{bundle.ViewMemberBillsLabel_dateIncured}"/>
                        <h:outputText value="#{memberBillsController.selected.dateIncured}" title="#{bundle.ViewMemberBillsTitle_dateIncured}">
                            <f:convertDateTime pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewMemberBillsLabel_memberId}"/>
                        <h:outputText value="#{memberBillsController.selected.memberId}" title="#{bundle.ViewMemberBillsTitle_memberId}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="MemberBillsViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
