<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="GeneralTransactionViewDlg" widgetVar="GeneralTransactionViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewGeneralTransactionTitle}">
            <h:form id="GeneralTransactionViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{generalTransactionController.selected != null}">
                        <h:outputText value="#{bundle.ViewGeneralTransactionLabel_id}"/>
                        <h:outputText value="#{generalTransactionController.selected.id}" title="#{bundle.ViewGeneralTransactionTitle_id}"/>
                        <h:outputText value="#{bundle.ViewGeneralTransactionLabel_dateCollected}"/>
                        <h:outputText value="#{generalTransactionController.selected.dateCollected}" title="#{bundle.ViewGeneralTransactionTitle_dateCollected}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewGeneralTransactionLabel_slipNo}"/>
                        <h:outputText value="#{generalTransactionController.selected.slipNo}" title="#{bundle.ViewGeneralTransactionTitle_slipNo}"/>
                        <h:outputText value="#{bundle.ViewGeneralTransactionLabel_chequeNo}"/>
                        <h:outputText value="#{generalTransactionController.selected.chequeNo}" title="#{bundle.ViewGeneralTransactionTitle_chequeNo}"/>
                        <h:outputText value="#{bundle.ViewGeneralTransactionLabel_transactedBy}"/>
                        <h:outputText value="#{generalTransactionController.selected.transactedBy}" title="#{bundle.ViewGeneralTransactionTitle_transactedBy}"/>
                        <h:outputText value="#{bundle.ViewGeneralTransactionLabel_dateWhen}"/>
                        <h:outputText value="#{generalTransactionController.selected.dateWhen}" title="#{bundle.ViewGeneralTransactionTitle_dateWhen}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewGeneralTransactionLabel_randomInt}"/>
                        <h:outputText value="#{generalTransactionController.selected.randomInt}" title="#{bundle.ViewGeneralTransactionTitle_randomInt}"/>
                        <h:outputText value="#{bundle.ViewGeneralTransactionLabel_member1}"/>
                        <h:outputText value="#{generalTransactionController.selected.member1}" title="#{bundle.ViewGeneralTransactionTitle_member1}"/>
                        <h:outputText value="#{bundle.ViewGeneralTransactionLabel_paymentMode}"/>
                        <h:outputText value="#{generalTransactionController.selected.paymentMode}" title="#{bundle.ViewGeneralTransactionTitle_paymentMode}"/>
                        <h:outputText value="#{bundle.ViewGeneralTransactionLabel_bankAccount}"/>
                        <h:outputText value="#{generalTransactionController.selected.bankAccount}" title="#{bundle.ViewGeneralTransactionTitle_bankAccount}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="GeneralTransactionViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
