<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="GenderCreateDlg" widgetVar="GenderCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateGenderTitle}">
            <h:form id="GenderCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{genderController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateGenderLabel_idgender}" for="idgender" />
                        <p:inputText id="idgender" value="#{genderController.selected.idgender}" title="#{bundle.CreateGenderTitle_idgender}" required="true" requiredMessage="#{bundle.CreateGenderRequiredMessage_idgender}"/>
                        <p:outputLabel value="#{bundle.CreateGenderLabel_gender}" for="gender" />
                        <p:inputText id="gender" value="#{genderController.selected.gender}" title="#{bundle.CreateGenderTitle_gender}" required="true" requiredMessage="#{bundle.CreateGenderRequiredMessage_gender}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{genderController.create}" value="#{bundle.Save}" update="display,:GenderListForm:datalist,:growl" oncomplete="handleSubmit(args,'GenderCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="GenderCreateDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
