<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BankingsEditDlg" widgetVar="BankingsEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditBankingsTitle}">
            <h:form id="BankingsEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{bankingsController.selected != null}">
                        <p:outputLabel value="#{bundle.EditBankingsLabel_id}" for="id" />
                        <p:inputText id="id" value="#{bankingsController.selected.id}" title="#{bundle.EditBankingsTitle_id}" required="true" requiredMessage="#{bundle.EditBankingsRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditBankingsLabel_dateWhen}" for="dateWhen" />
                        <p:calendar id="dateWhen" pattern="MM/dd/yyyy" value="#{bankingsController.selected.dateWhen}" title="#{bundle.EditBankingsTitle_dateWhen}" required="true" requiredMessage="#{bundle.EditBankingsRequiredMessage_dateWhen}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditBankingsLabel_amount}" for="amount" />
                        <p:inputText id="amount" value="#{bankingsController.selected.amount}" title="#{bundle.EditBankingsTitle_amount}" required="true" requiredMessage="#{bundle.EditBankingsRequiredMessage_amount}"/>
                        <p:outputLabel value="#{bundle.EditBankingsLabel_slipNo}" for="slipNo" />
                        <p:inputText id="slipNo" value="#{bankingsController.selected.slipNo}" title="#{bundle.EditBankingsTitle_slipNo}" required="true" requiredMessage="#{bundle.EditBankingsRequiredMessage_slipNo}"/>
                        <p:outputLabel value="#{bundle.EditBankingsLabel_comments}" for="comments" />
                        <p:inputText id="comments" value="#{bankingsController.selected.comments}" title="#{bundle.EditBankingsTitle_comments}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{bankingsController.update}" value="#{bundle.Save}" update="display,:BankingsListForm:datalist,:growl" oncomplete="handleSubmit(args, 'BankingsEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="BankingsEditDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
