<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListGuarantorsTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="GuarantorsListForm">
                <p:panel header="List Of Guaranteed">
                    <p:dataTable id="datalist" value="#{guarantorsController.items}" var="item"
                                 selectionMode="single" selection="#{guarantorsController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:column style="width: 30px">
                            <f:facet name="header">
                                <h:outputText value="NO."/>
                            </f:facet>
                            <h:outputText value="#{rowIndex+1}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Guaranteed Amount"/>
                            </f:facet>
                            <h:outputText value="#{item.guaranteedAmount}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Guarantors Name"/>
                            </f:facet>
                            <h:outputText value="#{item.guarantorId}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{guarantorsController.prepareCreate}" update=":GuarantorsCreateForm" oncomplete="PF('GuarantorsCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":GuarantorsViewForm" oncomplete="PF('GuarantorsViewDialog').show()" disabled="#{empty guarantorsController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":GuarantorsEditForm" oncomplete="PF('GuarantorsEditDialog').show()" disabled="#{empty guarantorsController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{guarantorsController.destroy}" update=":growl,datalist" disabled="#{empty guarantorsController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
