<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/admin/template/main.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListMembersTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Members <small> Sacco Members Account Status</small>
                    </h1>
                </div>
            </div>
            <!-- /.row -->
            <!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <p:messages id="growl" closable="true" />
                </div>
            </div>
            <h:form id="MembersListForm">
                <p:panelGrid columns="6">
                    <p:commandButton value="Print" icon="ui-icon-print" ajax="false" actionListener="#{membersController.onPrintReport()}"/>                
                    <p:commandButton id="bill" icon="ui-icon-plus"  actionListener="#{membersController.prepareBill()}" value="Bill Member" update=":MemberBillsCreateForm" oncomplete="PF('MemberBillsCreateDialog').show()"/>
                </p:panelGrid>
                <p:dataTable id="datalist" value="#{membersController.items}" var="item"
                             selection="#{membersController.memberSelection}"
                             rowIndexVar="rowIndex"
                             paginator="true"
                             rowKey="#{item.id}"
                             >
                    <p:column style="width: 30px">
                        <f:facet name="header">
                            <h:outputText value="NO."/>
                        </f:facet>
                        <h:outputText value="#{rowIndex+1}"/>                        
                    </p:column>
                    <p:column filterBy="#{item.trimmedSurname}">
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListMembersTitle_surname}"/>
                        </f:facet>
                        <h:outputText value="#{item.surname}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Acc Status"/>
                        </f:facet>
                        <h:outputText value="#{item.membershipStatus}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Shares"/>
                        </f:facet>
                        <h:outputText value="#{item.sharesPaid}"/>
                    </p:column>                    
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Entrance"/>
                        </f:facet>
                        <h:outputText value="#{item.regPaid}"/>
                    </p:column>
                    <p:column headerText="Deposits Withdrawable" sortBy="#{item.totalDepositWithrawable}">
                        <h:outputText value="#{item.totalDepositWithrawable}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Deposits Non WithDrawable"/>
                        </f:facet>
                        <h:outputText value="#{item.totalDepositNonWithrawable}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Total Deposits"/>
                        </f:facet>
                        <h:outputText value="#{item.totalDeposit}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Loans Active"/>
                        </f:facet>
                        <h:outputText value="#{item.totalUnpaidLoan}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Available LSF"/>
                        </f:facet>
                        <h:outputText value="#{item.loanDifferenceWithDeposits-membersController.withdrawalcharges-item.totalRecoverableFromLoan}"/>
                    </p:column>                    
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Guaranted Loans"/>
                        </f:facet>
                        <h:outputText value="#{item.totalRecoverableFromLoan}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Loans Interest Paid"/>
                        </f:facet>
                        <h:outputText value="#{item.totalInterestPaidOnLoans}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Loan Negotiation Income"/>
                        </f:facet>
                        <h:outputText value="#{item.totalNegotiationPaidOnLoans}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Loans Recovery"/>
                        </f:facet>
                        <h:outputText value="#{item.totalLoanRecovery}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="WithDrawal"/>
                        </f:facet>
                        <h:outputText value="#{item.totalWithdrawals}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="WithDrawal Income"/>
                        </f:facet>
                        <h:outputText value="#{item.totalWithdrawalsIncome}"/>
                    </p:column>
                    <p:column selectionMode="multiple" style="width:20px;text-align:center" />
                    <p:columnGroup type="footer">
                        <p:row>
                            <p:column footerText=""/>
                            <p:column footerText=""/>
                            <p:column footerText="Total"/>
                            <p:column footerText="#{membersController.totalShares}"/>
                            <p:column footerText="#{membersController.totalReg}"/>
                            <p:column footerText=""/>
                            <p:column footerText=""/>
                            <p:column footerText="#{membersController.totalDepost}"/>
                            <p:column footerText="#{membersController.totalLoans}"/>
                            <p:column footerText="#{membersController.totalLsf}"/>
                            <p:column footerText=""/>
                            <p:column footerText="#{membersController.totalInterestEarned}"/>
                            <p:column footerText="#{membersController.totalNegotiationEarned}"/>
                            <p:column footerText="#{membersController.totalLoanRecovery}"/>
                            <p:column footerText="#{membersController.totalWithDrawal}"/>
                            <p:column footerText="#{membersController.totalWithdrawalCharges}"/>
                        </p:row>
                    </p:columnGroup>
                </p:dataTable>
            </h:form>
            <ui:include src="memberBills/Create.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
