<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MembersWithdrawDlg" widgetVar="MembersWithdrawDialog" modal="true" resizable="false" appendTo="@(body)" header="End Membership">
            <h:form id="MembersWithdrawForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{membersController.selected != null}">
                        <p:outputLabel value="Member Name"/>
                        <p:outputLabel value="#{membersController.selected.surname}"/>
                        <p:outputLabel value="Member Number"/>
                        <p:outputLabel value="#{membersController.selected.memberNo}"/>   
                        <p:outputLabel value="Deposits Total"/>
                        <p:outputLabel value="#{membersController.selected.totalDeposit}"/>   
                        <p:outputLabel value="Active Loans Balances"/>
                        <p:outputLabel value="#{membersController.selected.totalUnpaidLoan}"/>  
                        <p:outputLabel value="WithHeld Amount For Guaranteed Loans"/>
                        <p:outputLabel value="#{membersController.selected.totalRecoverableFromLoan}"/>   
                        <p:outputLabel value="Account Balances"/>
                        <p:outputLabel value="#{membersController.selected.loanDifferenceWithDeposits}"/>
                        <p:outputLabel value="WithDrawal Charges"/>
                        <p:outputLabel value="#{membersController.withdrawalcharges}"/>                        
                        <p:outputLabel value="Amount Receivable By Member"/>
                        <p:outputLabel value="#{membersController.selected.loanDifferenceWithDeposits-membersController.withdrawalcharges-membersController.selected.totalRecoverableFromLoan}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{membersController.performWithDrawal}" value="Finalize Withdrawal" update=":MembersListForm,:growl" oncomplete="handleSubmit(args, 'MembersWithdrawDialog');" disabled="#{(membersController.selected.loanDifferenceWithDeposits-membersController.withdrawalcharges-membersController.selected.totalRecoverableFromLoan)*-1 >0}"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="MembersWithdrawDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
