<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MembersCreateDlg" widgetVar="MembersCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateMembersTitle}">
            <h:form id="MembersCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="4" rendered="#{membersController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateMembersLabel_surname}" for="surname" />
                        <p:inputText id="surname" value="#{membersController.selected.surname}" title="#{bundle.CreateMembersTitle_surname}" required="true" requiredMessage="#{bundle.CreateMembersRequiredMessage_surname}"/>
                        <p:outputLabel value="#{bundle.CreateMembersLabel_otherNames}" for="otherNames" />
                        <p:inputText id="otherNames" value="#{membersController.selected.otherNames}" title="#{bundle.CreateMembersTitle_otherNames}" required="true" requiredMessage="#{bundle.CreateMembersRequiredMessage_otherNames}"/>
                        <p:outputLabel value="#{bundle.CreateMembersLabel_residence}" for="residence" />
                        <p:inputText id="residence" value="#{membersController.selected.residence}" title="#{bundle.CreateMembersTitle_residence}" required="true" requiredMessage="#{bundle.CreateMembersRequiredMessage_residence}"/>
                        <p:outputLabel value="#{bundle.CreateMembersLabel_idNo}" for="idNo" />
                        <p:inputText id="idNo" value="#{membersController.selected.idNo}" title="#{bundle.CreateMembersTitle_idNo}" required="true" requiredMessage="#{bundle.CreateMembersRequiredMessage_idNo}"/>
                        <p:outputLabel value="#{bundle.CreateMembersLabel_dob}" for="dob" />
                        <p:calendar id="dob" pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" value="#{membersController.selected.dob}" title="#{bundle.EditMembersTitle_dob}" required="true" requiredMessage="#{bundle.EditMembersRequiredMessage_dob}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateMembersLabel_regDate}" for="regDate" />
                        <p:calendar id="regDate" pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" value="#{membersController.selected.regDate}" title="#{bundle.EditMembersTitle_regDate}" required="true" requiredMessage="#{bundle.EditMembersRequiredMessage_regDate}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateMembersLabel_address}" for="address" />
                        <p:inputText id="address" value="#{membersController.selected.address}" title="#{bundle.CreateMembersTitle_address}" required="true" requiredMessage="#{bundle.CreateMembersRequiredMessage_address}"/>
                        <p:outputLabel value="#{bundle.CreateMembersLabel_phone}" for="phone" />
                        <p:inputText id="phone" value="#{membersController.selected.phone}" title="#{bundle.CreateMembersTitle_phone}" required="true" requiredMessage="#{bundle.CreateMembersRequiredMessage_phone}"/>
                        <p:outputLabel value="#{bundle.CreateMembersLabel_altphone}" for="altphone" />
                        <p:inputText id="altphone" value="#{membersController.selected.altphone}" title="#{bundle.CreateMembersTitle_altphone}" required="true" requiredMessage="#{bundle.CreateMembersRequiredMessage_altphone}"/>
                        <p:outputLabel value="#{bundle.CreateMembersLabel_gender}" for="gender" />
                        <p:selectOneMenu id="gender" value="#{membersController.selected.gender}" required="true" requiredMessage="#{bundle.EditMembersRequiredMessage_gender}">
                            <f:selectItems value="#{genderController.itemsAvailableSelectOne}"
                                           var="genderItem" itemLabel="#{genderItem.gender}"
                                           itemValue="#{genderItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="Priority" for="priority" />
                        <p:selectOneMenu id="priority" value="#{membersController.selected.priorityAccount}" required="true" requiredMessage="#{bundle.EditMembersRequiredMessage_gender}">
                            <f:selectItems value="#{priorityAccOptionsController.itemsAvailableSelectOne}"
                                           var="genderItems" itemLabel="#{genderItems.option}"
                                           itemValue="#{genderItems}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{membersController.create}" value="#{bundle.Save}" update="display,:MembersListForm:datalist,:growl" oncomplete="handleSubmit(args,'MembersCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="MembersCreateDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
