<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <f:metadata>
        <f:viewAction  action="#{membersController.prepareCreateGeneralTransaction()}" />
    </f:metadata>
    <ui:composition template="/admin/template/main.xhtml">


        <ui:define name="title">
            <h:outputText value="DepositCash"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <div class="row">
                <div class="col-md-12">
                    <p:messages id="growl" closable="true" />
                </div>
            </div>
            <h:form id="DepositCash">
                <p:panelGrid columns="2">
                    <p:panel header="Loan Repayment">
                        <p:panelGrid columns="2">
                            <h:outputText value="Loaned Amount"/> 
                            <h:outputText value="#{membersController.activeLoanForMember.amount}"/> 
                            <h:outputText value="Month Interest Charged"/> 
                            <h:outputText value="#{membersController.currentSchedule.interest}"/> 
                            <h:outputText value="Month Interest Paid"/> 
                            <h:outputText value="#{membersController.currentSchedule.paidInterest}"/> 
                            <h:outputText value="Month Interest Balance"/> 
                            <h:outputText value="#{membersController.currentSchedule.unpaidInterest}"/> 
                            <h:outputText value="Month Loan Principle"/> 
                            <h:outputText value="#{membersController.currentSchedule.balance}"/> 
                            <h:outputText value="Month Loan Paid"/> 
                            <h:outputText value="#{membersController.currentSchedule.payment}"/> 
                            <h:outputText value="Total Loan Balance"/> 
                            <h:outputText value="#{membersController.activeLoanForMember.balEst}"/> 
                            <h:outputText value="Amount To Pay Loan"/> 
                            <p:inputText disabled="#{membersController.activeLoanForMember.amount == 0}" id="loanRepayment"  value="#{membersController.loandeposit}"  onkeyup="actionAdd()"/> 
                        </p:panelGrid>
                    </p:panel>
                    <p:panelGrid columns="1">
                        <p:panel header="Shares Account Deposit">
                            <p:panelGrid columns="2">
                                <h:outputText value="Shares Capital Balance"/> 
                                <h:outputText value="#{membersController.totalSharesSelectedIn+membersController.totalSharesSelectedOut}"/> 
                                <h:outputText value="Amount To Deposit To Shares"/> 
                                <p:inputText id="shares" value="#{membersController.sharedeposit}"  onkeyup="actionAdd()"/> 
                            </p:panelGrid>
                        </p:panel>
                        <p:panel header="WithDrawable Savings Deposits">
                            <p:panelGrid columns="2">
                                <h:outputText value="WithDrawable Savings Balance"/> 
                                <h:outputText value="#{membersController.totalWithDrawableIn+membersController.totalWithDrawableOut}"/> 
                                <h:outputText value="Amount To Deposit To WithDrawable Savings"/> 
                                <p:inputText immediate="true" id="withrawable" value="#{membersController.withrawable}" onkeyup="actionAdd()"/> 
                            </p:panelGrid>
                        </p:panel>
                    </p:panelGrid>
                </p:panelGrid>
                <p:panelGrid columns="2">
                    <p:panel header="Receipt Totals And Summary">
                        <p:panelGrid columns="2">
                            <p:outputLabel value="Loan Repayment"/> 
                            <p:inputText id="lp" readonly="true"/> 
                            <h:outputText value="Shares Capital Deposit"/> 
                            <p:inputText id="sc" readonly="true"/> 
                            <h:outputText value="Withdrawable Deposit"/> 
                            <p:inputText id="sd" readonly="true"/> 
                            <h:outputText value="Total"/> 
                            <p:inputText   id="total" readonly="true"/> 
                        </p:panelGrid>
                    </p:panel>
                    <p:panel header="Receipt Details">
                        <p:panelGrid columns="4" rendered="#{membersController.generalTransaction != null}">
                            <p:outputLabel value="#{bundle.CreateGeneralTransactionLabel_paymentMode}" for="paymentMode" />
                            <p:selectOneMenu id="paymentMode" value="#{membersController.generalTransaction.paymentMode}" required="true" requiredMessage="#{bundle.EditGeneralTransactionRequiredMessage_paymentMode}">
                                <f:selectItem itemLabel="Select One"/>
                                <f:selectItems value="#{paymentModesController.itemsAvailableSelectOne}"
                                               var="paymentModeItem"  itemLabel="#{paymentModeItem.paymentMode}"
                                               itemValue="#{paymentModeItem}"/>
                            </p:selectOneMenu>
                            <p:outputLabel value="#{bundle.CreateGeneralTransactionLabel_dateCollected}" for="dateCollected" />
                            <p:calendar id="dateCollected" pattern="MM/dd/yyyy HH:mm:ss" value="#{membersController.generalTransaction.dateCollected}" title="#{bundle.EditGeneralTransactionTitle_dateCollected}" required="true" requiredMessage="#{bundle.EditGeneralTransactionRequiredMessage_dateCollected}"/>
                            <p:outputLabel value="#{bundle.CreateGeneralTransactionLabel_slipNo}" for="slipNo" />
                            <p:inputText id="slipNo" value="#{membersController.generalTransaction.slipNo}" title="#{bundle.CreateGeneralTransactionTitle_slipNo}" required="true" requiredMessage="#{bundle.CreateGeneralTransactionRequiredMessage_slipNo}"/>
                            <p:outputLabel value="#{bundle.CreateGeneralTransactionLabel_chequeNo}" for="chequeNo" />
                            <p:inputText id="chequeNo" value="#{membersController.generalTransaction.chequeNo}" title="#{bundle.CreateGeneralTransactionTitle_chequeNo}" required="true" requiredMessage="#{bundle.CreateGeneralTransactionRequiredMessage_chequeNo}"/>
                            <p:outputLabel value="#{bundle.CreateGeneralTransactionLabel_transactedBy}" for="transactedBy" />
                            <p:inputText id="transactedBy" value="#{membersController.generalTransaction.transactedBy}" title="#{bundle.CreateGeneralTransactionTitle_transactedBy}" required="true" requiredMessage="#{bundle.CreateGeneralTransactionRequiredMessage_transactedBy}"/>
                            <p:outputLabel value="#{bundle.CreateGeneralTransactionLabel_bankAccount}" for="bankAccount" />
                            <p:selectOneMenu id="bankAccount" value="#{membersController.generalTransaction.bankAccount}" required="true" requiredMessage="#{bundle.EditGeneralTransactionRequiredMessage_bankAccount}">
                                <f:selectItem itemLabel="Select One"/>
                                <f:selectItems value="#{bankAccountController.itemsAvailableSelectOne}"
                                               var="bankAccountItem"  itemLabel="#{bankAccountItem.bankAccountsName}"
                                               itemValue="#{bankAccountItem}"/>
                            </p:selectOneMenu>
                        </p:panelGrid>
                    </p:panel>
                </p:panelGrid>
                <p:commandButton value="Deposit Money" actionListener="#{membersController.createGeneralTransaction()}" update=":growl,:DepositCash">
                    <p:confirm header="Deposit Money." message="Are you sure?" icon="ui-icon-alert"/>
                </p:commandButton>
            </h:form>
            <ui:include src="/confirmation.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
