<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MembersEditDlg" widgetVar="MembersEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditMembersTitle}">
            <h:form id="MembersEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="4" rendered="#{membersController.selected != null}">
                        <p:outputLabel value="#{bundle.EditMembersLabel_memberNo}" for="memberNo" />
                        <p:inputText id="memberNo" value="#{membersController.selected.memberNo}" title="#{bundle.EditMembersTitle_memberNo}" required="true" requiredMessage="#{bundle.EditMembersRequiredMessage_memberNo}"/>
                        <p:outputLabel value="#{bundle.EditMembersLabel_surname}" for="surname" />
                        <p:inputText id="surname" value="#{membersController.selected.surname}" title="#{bundle.EditMembersTitle_surname}" required="true" requiredMessage="#{bundle.EditMembersRequiredMessage_surname}"/>
                        <p:outputLabel value="#{bundle.EditMembersLabel_otherNames}" for="otherNames" />
                        <p:inputText id="otherNames" value="#{membersController.selected.otherNames}" title="#{bundle.EditMembersTitle_otherNames}" required="true" requiredMessage="#{bundle.EditMembersRequiredMessage_otherNames}"/>
                        <p:outputLabel value="#{bundle.EditMembersLabel_residence}" for="residence" />
                        <p:inputText id="residence" value="#{membersController.selected.residence}" title="#{bundle.EditMembersTitle_residence}" required="true" requiredMessage="#{bundle.EditMembersRequiredMessage_residence}"/>
                        <p:outputLabel value="#{bundle.EditMembersLabel_idNo}" for="idNo" />
                        <p:inputText id="idNo" value="#{membersController.selected.idNo}" title="#{bundle.EditMembersTitle_idNo}" required="true" requiredMessage="#{bundle.EditMembersRequiredMessage_idNo}"/>
                        <p:outputLabel value="#{bundle.EditMembersLabel_dob}" for="dob" />
                        <p:calendar id="dob" pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" value="#{membersController.selected.dob}" title="#{bundle.EditMembersTitle_dob}" required="true" requiredMessage="#{bundle.EditMembersRequiredMessage_dob}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditMembersLabel_regDate}" for="regDate" />
                        <p:calendar id="regDate" pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" value="#{membersController.selected.regDate}" title="#{bundle.EditMembersTitle_regDate}" required="true" requiredMessage="#{bundle.EditMembersRequiredMessage_regDate}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditMembersLabel_address}" for="address" />
                        <p:inputText id="address" value="#{membersController.selected.address}" title="#{bundle.EditMembersTitle_address}" required="true" requiredMessage="#{bundle.EditMembersRequiredMessage_address}"/>
                        <p:outputLabel value="#{bundle.EditMembersLabel_phone}" for="phone" />
                        <p:inputText id="phone" value="#{membersController.selected.phone}" title="#{bundle.EditMembersTitle_phone}" required="true" requiredMessage="#{bundle.EditMembersRequiredMessage_phone}"/>
                        <p:outputLabel value="#{bundle.EditMembersLabel_altphone}" for="altphone" />
                        <p:inputText id="altphone" value="#{membersController.selected.altphone}" title="#{bundle.EditMembersTitle_altphone}" required="true" requiredMessage="#{bundle.EditMembersRequiredMessage_altphone}"/>
                        <p:outputLabel value="#{bundle.EditMembersLabel_gender}" for="gender" />
                        <p:selectOneMenu id="gender" value="#{membersController.selected.gender}" required="true" requiredMessage="#{bundle.EditMembersRequiredMessage_gender}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{genderController.itemsAvailableSelectOne}"
                                           var="genderItem" itemLabel="#{genderItem.gender}"
                                           itemValue="#{genderItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="Priority" for="priority" />
                        <p:selectOneMenu id="priority" value="#{membersController.selected.priorityAccount}" required="true" requiredMessage="#{bundle.EditMembersRequiredMessage_gender}">
                            <f:selectItems value="#{priorityAccOptionsController.itemsAvailableSelectOne}"
                                           var="genderItems" itemLabel="#{genderItems.option}"
                                           itemValue="#{genderItems}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{membersController.update}" value="#{bundle.Save}" update="display,:MembersListForm:datalist,:growl" oncomplete="handleSubmit(args, 'MembersEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="MembersEditDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
