<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/admin/template/main.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListMembersTitle} Collection Between Dates"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Members Collections<small>      Review Members Collections</small>
                    </h1>
                </div>
            </div>
            <!-- /.row -->
            <!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <p:messages id="growl" closable="true" />
                </div>
            </div>
            <h:form id="MembersListForm">
                <p:panelGrid columns="8">
                    <p:button id="back" outcome="/admin/members/profile" value="Back"/>
                    <p:outputLabel value="From" for="start" />
                    <p:calendar id="start" pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" value="#{membersController.sdate}">
                        <p:ajax partialSubmit="true" update="tv" event="dateSelect"/>
                    </p:calendar>
                    <p:outputLabel value="To" for="end" />
                    <p:calendar id="end" pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" value="#{membersController.edate}">
                        <p:ajax partialSubmit="true" update="tv" event="dateSelect"/>
                    </p:calendar>
                </p:panelGrid>
                <p:tabView id="tv">
                    <p:tab id="one" title="Sort By Receipt Type">
                        <p:panelGrid columns="4">
                            <p:outputLabel for="memberIdl" value="Receipt Type" />
                            <p:selectOneMenu id="memberIdl" value="#{membersController.type}" required="true" requiredMessage="#{bundle.EditCollectionsRequiredMessage_memberId}">
                                <f:selectItems value="#{collectionsTypesController.itemsAvailableSelectOne}"
                                               var="memberIdIteml" itemLabel="#{memberIdIteml.type}"
                                               itemValue="#{memberIdIteml}"/>
                                <p:ajax partialSubmit="true" update="datalista" event="change"/>
                            </p:selectOneMenu>
                            <p:commandButton value="Print" actionListener="#{membersController.onPrintCollections()}" ajax="false"/>
                        </p:panelGrid>
                        <p:dataTable id="datalista" value="#{membersController.collectionsBetweenDates}" var="item"
                                     paginator="true"
                                     rowsPerPageTemplate="30,20,30,40,50"
                                     paginatorPosition="bottom"
                                     rowIndexVar="rowIndex"
                                     >
                            <p:column style="width: 30px">
                                <f:facet name="header">
                                    <h:outputText value="NO."/>
                                </f:facet>
                                <h:outputText value="#{rowIndex+1}"/>                        
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListCollectionsTitle_dateCollected}"/>
                                </f:facet>
                                <h:outputText value="#{item.dateCollected}">
                                    <f:convertDateTime pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" />
                                </h:outputText>
                            </p:column>                  
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Receipt Type"/>
                                </f:facet>
                                <h:outputText value="#{item.collectionstype.type}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListCollectionsTitle_amount}"/>
                                </f:facet>
                                <h:outputText value="#{item.amount}"/>
                            </p:column>
                            <p:columnGroup type="footer">
                                <p:row>
                                    <p:column footerText=""/>
                                    <p:column footerText=""/>
                                    <p:column footerText="Total Contributions"/> 
                                    <p:column footerText="#{membersController.totalCollectionsBetweenDates}"/> 
                                </p:row>
                                <p:row>
                                    <p:column footerText=""/>
                                    <p:column footerText=""/>
                                    <p:column footerText="Total UnAccounted"/> 
                                    <p:column footerText="#{membersController.selected.totalUnAccounted}"/> 
                                </p:row>
                            </p:columnGroup>
                        </p:dataTable>
                    </p:tab>
                    <p:tab id="two" title="All">
                        <p:panelGrid columns="2">
                            <p:commandButton value="Print" actionListener="#{membersController.onPrintCollectionsAll()}" ajax="false"/>
                        </p:panelGrid>
                        <p:dataTable id="datalist" value="#{membersController.collectionsBetweenDatesAll}" var="item"
                                     paginator="true"
                                     rowsPerPageTemplate="30,20,30,40,50"
                                     paginatorPosition="bottom"
                                     rowIndexVar="rowIndex"
                                     >
                            <p:column style="width: 30px">
                                <f:facet name="header">
                                    <h:outputText value="NO."/>
                                </f:facet>
                                <h:outputText value="#{rowIndex+1}"/>                        
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListCollectionsTitle_dateCollected}"/>
                                </f:facet>
                                <h:outputText value="#{item.collectionDateStr}"/>
                            </p:column>                  
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Receipt Type"/>
                                </f:facet>
                                <h:outputText value="#{item.collectionstype.type}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListCollectionsTitle_amount}"/>
                                </f:facet>
                                <h:outputText value="#{item.amount}"/>
                            </p:column>
                            <p:columnGroup type="footer">
                                <p:row>
                                    <p:column footerText=""/>
                                    <p:column footerText=""/>
                                    <p:column footerText="Total Contributions"/> 
                                    <p:column footerText="#{membersController.totalCollectionsBetweenDatesAll}"/> 
                                </p:row>
                                <p:row>
                                    <p:column footerText=""/>
                                    <p:column footerText=""/>
                                    <p:column footerText="Total UnAccounted"/> 
                                    <p:column footerText="#{membersController.selected.totalUnAccounted}"/> 
                                </p:row>
                            </p:columnGroup>
                        </p:dataTable>
                    </p:tab>
                </p:tabView>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
