<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/admin/template/main.xhtml">


        <ui:define name="title">
            <h:outputText value="Members Profile"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <!-- /.row -->
            <!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <p:messages id="growl" closable="true" />
                </div>
            </div>
            <h:form id="MembersListForm">
                <p:panelGrid columns="9">
                    <p:selectOneMenu filter="true" filterMatchMode="startsWith" id="memeberId" value="#{membersController.selected}" required="true" requiredMessage="#{bundle.EditLoanRequiredMessage_memeberId}">
                        <f:selectItem itemLabel="Select One"/>
                        <f:selectItems value="#{membersController.itemsAvailableSelectOne}"
                                       var="memeberIdItem" itemLabel="#{memeberIdItem.trimmedSurname}"
                                       itemValue="#{memeberIdItem}"/>
                        <p:ajax partialSubmit="true" update="MembersListForm" event="change" listener="#{membersController.onSelect()}"/>
                    </p:selectOneMenu>      
                    <p:commandButton value="Refresh" update=":MembersListForm" actionListener="#{membersController.updateMember}"/>
                    <p:button id="collections" outcome="members_collections" value="Members Collections" disabled="#{empty membersController.selected}"/>
                    <p:button id="statement" outcome="statement" value="Statement" disabled="#{empty membersController.selected}"/>
                    <p:commandButton id="editButton"   icon="ui-icon-pencil" value="Close Account" update=":MembersWithdrawForm" oncomplete="PF('MembersWithdrawDialog').show()" disabled="#{membersController.selected.isactive}"/>
                    <p:commandButton disabled="#{empty membersController.selected}" rendered="true" id="bill" icon="ui-icon-plus"  actionListener="#{membersController.prepareBill()}" value="Bill Member" update=":MemberBillsCreateForm" oncomplete="PF('MemberBillsCreateDialog').show()"/>
                    <p:button disabled="#{empty membersController.selected}" rendered="true" id="deposit" icon="ui-icon-plus"  outcome="deposit_cash"  value="Deposit "/>
                </p:panelGrid>
                <div class="row" >
                    <div class="col-lg-12" id="data">
                        <div class="col-lg-6">
                            <p:panel header="Basic Profile Info" toggleable="true" collapsed="true">
                                <p:panelGrid  columns="6" rendered="#{membersController.selected != null}">
                                    <h:outputText value="#{bundle.ViewMembersLabel_memberNo}"/>
                                    <h:outputText value="#{membersController.selected.memberNo}" title="#{bundle.ViewMembersTitle_memberNo}"/>
                                    <h:outputText value="#{bundle.ViewMembersLabel_surname}"/>
                                    <h:outputText value="#{membersController.selected.surname}" title="#{bundle.ViewMembersTitle_surname}"/>
                                    <h:outputText value="#{bundle.ViewMembersLabel_otherNames}"/>
                                    <h:outputText value="#{membersController.selected.otherNames}" title="#{bundle.ViewMembersTitle_otherNames}"/>
                                    <h:outputText value="#{bundle.ViewMembersLabel_residence}"/>
                                    <h:outputText value="#{membersController.selected.residence}" title="#{bundle.ViewMembersTitle_residence}"/>
                                    <h:outputText value="#{bundle.ViewMembersLabel_idNo}"/>
                                    <h:outputText value="#{membersController.selected.idNo}" title="#{bundle.ViewMembersTitle_idNo}"/>
                                    <h:outputText value="#{bundle.ViewMembersLabel_dob}"/>
                                    <h:outputText value="#{membersController.selected.dob}" title="#{bundle.ViewMembersTitle_dob}">
                                        <f:convertDateTime pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" />
                                    </h:outputText>
                                    <h:outputText value="#{bundle.ViewMembersLabel_regDate}"/>
                                    <h:outputText value="#{membersController.selected.regDate}" title="#{bundle.ViewMembersTitle_regDate}">
                                        <f:convertDateTime pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" />
                                    </h:outputText>
                                    <h:outputText value="#{bundle.ViewMembersLabel_address}"/>
                                    <h:outputText value="#{membersController.selected.address}" title="#{bundle.ViewMembersTitle_address}"/>
                                    <h:outputText value="#{bundle.ViewMembersLabel_phone}"/>
                                    <h:outputText value="#{membersController.selected.phone}" title="#{bundle.ViewMembersTitle_phone}"/>
                                    <h:outputText value="#{bundle.ViewMembersLabel_altphone}"/>
                                    <h:outputText value="#{membersController.selected.altphone}" title="#{bundle.ViewMembersTitle_altphone}"/>
                                    <h:outputText value="#{bundle.ViewMembersLabel_gender}"/>
                                    <h:outputText value="#{membersController.selected.gender.gender}" title="#{bundle.ViewMembersTitle_gender}"/>
                                    <h:outputText value="Priority Acc"/>
                                    <h:outputText value="#{membersController.selected.priorityAccount.option}"/>
                                    <h:outputText value="Acc Status"/>
                                    <h:outputText value="#{membersController.selected.membershipStatus}"/>
                                </p:panelGrid>
                            </p:panel>
                        </div>
                        <div class="col-lg-6">
                            <p:panel header="Guarenteed Loans" toggleable="true" collapsed="true">
                                <p:dataTable id="loansguaranteed" 
                                             value="#{membersController.selected.guarantorsCollection}" 
                                             var="itemg"
                                             paginator="true"
                                             rows="10"
                                             rowsPerPageTemplate="10,20,30,40,50"
                                             paginatorPosition="bottom"
                                             rowIndexVar="rowIndex">
                                    <p:column style="width: 30px">
                                        <f:facet name="header">
                                            <h:outputText value="NO."/>
                                        </f:facet>
                                        <h:outputText value="#{rowIndex+1}"/>                        
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Guaranteed Name"/>
                                        </f:facet>
                                        <h:outputText value="#{itemg.loanId.memeberId.surname}"/>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Balance"/>
                                        </f:facet>
                                        <h:outputText value="#{itemg.loanId.balEst}"/>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Loan Amount"/>
                                        </f:facet>
                                        <h:outputText value="#{itemg.loanId.amount}"/>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Guartd Amnt"/>
                                        </f:facet>
                                        <h:outputText value="#{itemg.guaranteedAmount}"/>
                                    </p:column>
                                    <p:column footerText="#{membersController.selected.totalRecoverableFromLoan}">
                                        <f:facet name="header">
                                            <h:outputText value="Recoverable Amnt"/>
                                        </f:facet>
                                        <h:outputText value="#{itemg.recoveryEst}"/>
                                    </p:column>
                                </p:dataTable>
                            </p:panel>
                        </div>
                    </div>
                </div>
                <p:panelGrid columns="1">
                    <p:panel header="Members Bills" toggleable="true" collapsed="true">
                        <p:dataTable id="datalist" value="#{membersController.selected.memberBillsCollection}" var="item"
                                     paginator="true"
                                     rowKey="#{item.id}"
                                     rows="10"
                                     rowsPerPageTemplate="10,20,30,40,50"
                                     paginatorPosition="bottom"
                                     rowIndexVar="rowIndex"
                                     >
                            <p:columnGroup type="header">
                                <p:row>
                                    <p:column rowspan="2" headerText="No" style="width:3%"/>
                                    <p:column rowspan="2" headerText="Particulars" />
                                    <p:column rowspan="2" headerText="Date" />
                                    <p:column rowspan="2" headerText="Amount" />
                                    <p:column colspan="5" headerText="Transactions"/> 
                                    <p:column rowspan="2" headerText="Net Accs" />
                                </p:row>
                                <p:row>
                                    <p:column headerText="Date" />
                                    <p:column headerText="Receipt No." />
                                    <p:column headerText="Summary" />
                                    <p:column headerText="D.r" />
                                    <p:column headerText="C.r" />
                                </p:row>
                            </p:columnGroup>
                            <p:column style="width: 30px">
                                <f:facet name="header">
                                    <h:outputText value="NO."/>
                                </f:facet>
                                <h:outputText value="#{rowIndex+1}"/>                        
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListMemberBillsTitle_narration}"/>
                                </f:facet>
                                <h:outputText value="#{item.narration}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListMemberBillsTitle_dateIncured}"/>
                                </f:facet>
                                <h:outputText value="#{item.dateIncured}">
                                    <f:convertDateTime pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" />
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListMemberBillsTitle_amount}"/>
                                </f:facet>
                                <h:outputText value="#{item.amount}"/>
                            </p:column>
                            <p:column>
                                <ui:repeat var="group" value="#{item.billTransactionsCollection}">
                                    <h:outputText value="#{group.datePaid}">
                                        <f:convertDateTime pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" />
                                    </h:outputText><br />
                                </ui:repeat>
                            </p:column>
                            <p:column>
                                <ui:repeat var="group" value="#{item.billTransactionsCollection}">
                                    <h:outputText value="#{group.receiptNo}" /><br />
                                </ui:repeat>
                            </p:column>
                            <p:column>
                                <ui:repeat var="group" value="#{item.billTransactionsCollection}">
                                    <h:outputText value="#{group.naration}" /><br />
                                </ui:repeat>
                            </p:column>
                            <p:column>
                                <ui:repeat var="group" value="#{item.billTransactionsCollection}">
                                    <h:outputText value="#{group.amountDebit}" /><br />
                                </ui:repeat>
                            </p:column>
                            <p:column>
                                <ui:repeat var="group" value="#{item.billTransactionsCollection}">
                                    <h:outputText value="#{group.amountCredit}" /><br />
                                </ui:repeat>
                            </p:column>
                            <p:column>
                                <h:outputText value="#{item.netAcc}"/>
                            </p:column>
                            <p:columnGroup type="footer">
                                <p:row>
                                    <p:column footerText=""/>
                                    <p:column footerText=""/>
                                    <p:column footerText="Total"/>
                                    <p:column footerText="#{membersController.selected.billsTotal}"/>   
                                    <p:column footerText=""/>
                                    <p:column footerText=""/>
                                    <p:column footerText=""/> 
                                    <p:column footerText=""/> 
                                    <p:column footerText=""/> 
                                    <p:column footerText="#{membersController.selected.billsTotalArrears}"/> 
                                </p:row>
                            </p:columnGroup>
                        </p:dataTable>
                    </p:panel>
                </p:panelGrid>
                <div class="row" >
                    <div class="col-lg-12" id="data">
                        <div class="col-lg-6">
                            <p:tabView id="tab">
                                <p:tab title="Share Account">
                                    <p:dataTable id="datalists" value="#{membersController.allDepositsShare}" var="itemdepo"
                                                 paginator="true"
                                                 rows="10"
                                                 rowsPerPageTemplate="10,20,30,40,50"
                                                 paginatorPosition="bottom"
                                                 rowIndexVar="rowIndex"
                                                 rowKey="#{itemdepo.id}"
                                                 sortBy="#{item.amount}"
                                                 sortField="#{item.amount}"
                                                 sortOrder="ascending"
                                                 >
                                        <p:column style="width: 30px">
                                            <f:facet name="header">
                                                <h:outputText value="NO."/>
                                            </f:facet>
                                            <h:outputText value="#{rowIndex+1}"/>                        
                                        </p:column>
                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="Date"/>
                                            </f:facet>
                                            <h:outputText value="#{itemdepo.date}">
                                                <f:convertDateTime pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" />
                                            </h:outputText>
                                        </p:column> 
                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="Desc"/>
                                            </f:facet>
                                            <h:outputText value="#{itemdepo.description}"/>
                                        </p:column>
                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="Money In"/>
                                            </f:facet>
                                            <h:outputText rendered="#{itemdepo.amount gt 0}" value="#{itemdepo.amount}"/>
                                            <h:outputText rendered="#{itemdepo.amount lt 0}" value="0"/>
                                        </p:column>
                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="Money Out"/>
                                            </f:facet>
                                            <h:outputText rendered="#{itemdepo.amount lt 0}" value="#{itemdepo.amount}"/>
                                            <h:outputText rendered="#{itemdepo.amount gt 0}" value="0"/>
                                        </p:column>
                                        <p:columnGroup type="footer">
                                            <p:row>
                                                <p:column footerText=""/>
                                                <p:column footerText=""/>
                                                <p:column footerText="Totals"/>
                                                <p:column footerText="#{membersController.totalSharesSelectedIn}"/>   
                                                <p:column footerText="#{membersController.totalSharesSelectedOut}"/>   
                                            </p:row>
                                            <p:row>
                                                <p:column footerText=""/>
                                                <p:column footerText=""/>
                                                <p:column footerText="Account Balance"/>
                                                <p:column footerText="#{membersController.totalSharesSelectedIn+membersController.totalSharesSelectedOut}"/> 
                                                <p:column footerText=""/>
                                            </p:row>
                                        </p:columnGroup>
                                    </p:dataTable>
                                </p:tab>
                                <p:tab title="WithDrawable Savings Account">
                                    <p:dataTable id="datalistssav" value="#{membersController.allDepositsWithDrawable}" var="itemdepo"
                                                 paginator="true"
                                                 rows="10"
                                                 rowsPerPageTemplate="10,20,30,40,50"
                                                 paginatorPosition="bottom"
                                                 rowIndexVar="rowIndex"
                                                 rowKey="#{itemdepo.id}"
                                                 sortBy="#{item.amount}"
                                                 sortField="#{item.amount}"
                                                 sortOrder="ascending"
                                                 >
                                        <p:column style="width: 30px">
                                            <f:facet name="header">
                                                <h:outputText value="NO."/>
                                            </f:facet>
                                            <h:outputText value="#{rowIndex+1}"/>                        
                                        </p:column>
                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="Date"/>
                                            </f:facet>
                                            <h:outputText value="#{itemdepo.date}">
                                                <f:convertDateTime pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" />
                                            </h:outputText>
                                        </p:column> 
                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="Desc"/>
                                            </f:facet>
                                            <h:outputText value="#{itemdepo.description}"/>
                                        </p:column>
                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="Money In"/>
                                            </f:facet>
                                            <h:outputText rendered="#{itemdepo.amount gt 0}" value="#{itemdepo.amount}"/>
                                            <h:outputText rendered="#{itemdepo.amount lt 0}" value="0"/>
                                        </p:column>
                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="Money Out"/>
                                            </f:facet>
                                            <h:outputText rendered="#{itemdepo.amount lt 0}" value="#{itemdepo.amount}"/>
                                            <h:outputText rendered="#{itemdepo.amount gt 0}" value="0"/>
                                        </p:column>
                                        <p:columnGroup type="footer">
                                            <p:row>
                                                <p:column footerText=""/>
                                                <p:column footerText=""/>
                                                <p:column footerText="Totals"/>
                                                <p:column footerText="#{membersController.totalWithDrawableIn}"/> 
                                                <p:column footerText="#{membersController.totalWithDrawableOut}"/>     
                                            </p:row>
                                            <p:row>
                                                <p:column footerText=""/>
                                                <p:column footerText=""/>
                                                <p:column footerText="Account Balance"/>
                                                <p:column footerText="#{membersController.totalWithDrawableIn+membersController.totalWithDrawableOut}"/> 
                                                <p:column footerText=""/>
                                            </p:row>
                                        </p:columnGroup>
                                        <f:facet name="footer">
                                            <p:commandButton disabled="#{membersController.totalWithDrawableIn+membersController.totalWithDrawableOut == 0}" id="transfer" icon="ui-icon-plus"   value="Pay Loan" actionListener="#{membersController.prepareDeposit()}" update=":DepositCashCreateFormloan" oncomplete="PF('DepositCashCreateDialogloan').show()"/>
                                            <p:commandButton disabled="#{membersController.totalWithDrawableIn+membersController.totalWithDrawableOut == 0}" id="createButton" icon="ui-icon-plus"   value="WithDraw" actionListener="#{membersController.prepareDeposit()}" update=":DepositCashCreateForm" oncomplete="PF('DepositCashCreateDialog').show()"/>
                                            <p:commandButton disabled="#{membersController.totalWithDrawableIn+membersController.totalWithDrawableOut == 0}" id="transfertosavings" icon="ui-icon-plus"  actionListener="#{membersController.prepareCreatedeposit()}" value="WithDraw To Savings" update=":MembersDepositForm" oncomplete="PF('MembersDepositDialog').show()"/>
                                        </f:facet>
                                    </p:dataTable>
                                </p:tab>
                            </p:tabView>
                        </div>
                        <div class="col-lg-6">
                            <p:dataTable id="datalistloan" value="#{membersController.selected.loanCollection}" var="item"
                                         selectionMode="single" selection="#{membersController.loan}"
                                         paginator="true"
                                         rowKey="#{item.loanId}"
                                         rows="10"
                                         rowsPerPageTemplate="10,20,30,40,50"
                                         paginatorPosition="bottom"
                                         rowIndexVar="rowIndex"
                                         >
                                <f:facet name="header">
                                    <p:outputLabel value="Members Loans"/>
                                </f:facet>
                                <p:ajax event="rowSelect"   update="createButton loancollections statement recover :MembersListForm:datalistloan"/>
                                <p:ajax event="rowUnselect" update="createButton loancollections statement recover :MembersListForm:datalistloan"/>

                                <p:column style="width: 30px">
                                    <f:facet name="header">
                                        <h:outputText value="NO."/>
                                    </f:facet>
                                    <h:outputText value="#{rowIndex+1}"/>                        
                                </p:column>  
                                <p:column rendered="false">
                                    <f:facet name="header">
                                        <h:outputText value="id"/>
                                    </f:facet>
                                    <h:outputText value="#{item.loanId}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Type"/>
                                    </f:facet>
                                    <h:outputText value="#{item.loantype.loanType}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Status"/>
                                    </f:facet>
                                    <h:outputText value="#{item.statusStr}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{bundle.ListLoanTitle_issueDate}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.issueDate}">
                                        <f:convertDateTime pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" />
                                    </h:outputText>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{bundle.ListLoanTitle_amount}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.amount}"/>
                                </p:column>                                                                        
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Collected"/>
                                    </f:facet>
                                    <h:outputText value="#{item.collectedActual}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Bal"/>
                                    </f:facet>
                                    <h:outputText value="#{item.balEst}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Interest Earned"/>
                                    </f:facet>
                                    <h:outputText value="#{item.totalInterestEarned}"/>
                                </p:column> 
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Billing Status"/>
                                    </f:facet>
                                    <h:outputText value="#{item.billingStatusStr}"/>
                                </p:column>
                                <p:columnGroup type="footer">
                                    <p:row>
                                        <p:column footerText=""/>
                                        <p:column footerText=""/>
                                        <p:column footerText=""/>
                                        <p:column footerText="Total"/>
                                        <p:column footerText="#{membersController.selected.totalLoans}"/>
                                        <p:column footerText="#{membersController.selected.totalUnAccounted}"/>                                    
                                        <p:column footerText="#{membersController.selected.totalUnpaidLoan}"/>                                   
                                        <p:column footerText="#{membersController.selected.totalLoansInterestPaid}"/>
                                        <p:column footerText=""/>
                                    </p:row>
                                </p:columnGroup>
                                <f:facet name="footer" rendered="#{!empty membersController.loan}">
                                    <p:button id="statement" outcome="loan/profile" value="Loan Statement" disabled="#{empty membersController.loan}"/>
                                    <p:button id="loancollections" outcome="loan/collections" value="Loan Collections" disabled="#{empty membersController.loan}"/>
                                    <p:commandButton id="createButton" icon="ui-icon-plus"  disabled="#{membersController.selected.canWitDraw==true}" value="#{bundle.Create}" actionListener="#{membersController.prepareCreateLoan}" update=":LoanCreateForm" oncomplete="PF('LoanCreateDialog').show()"/>                                         
                                    <p:commandButton id="recover" icon="ui-icon-plus"  disabled="#{empty membersController.loan}" value="Recover Loan" update=":LoanPayForm" oncomplete="PF('LoanPayDialog').show()"/>  
                                    <p:commandButton update=":growl :MembersListForm:datalistloan" id="stop" value="Stop Billing" actionListener="#{membersController.stopBillingLoan}">
                                        <p:confirm header="Stop billing interest on loan." message="Are You sure?" icon="ui-icon-alert"/>
                                    </p:commandButton>
                                    <p:commandButton update=":growl :MembersListForm:datalistloan" id="start" value="Start Billing" actionListener="#{membersController.startBillingLoan}">
                                        <p:confirm header="Restart billing interest on loan." message="Are You sure?" icon="ui-icon-alert"/>
                                    </p:commandButton>
                                </f:facet>
                            </p:dataTable>
                        </div>
                    </div>
                </div>
            </h:form>
            <ui:include src="tranfertoshares.xhtml"/>
            <ui:include src="payLoanFromDeposit.xhtml"/>
            <ui:include src="membersWithdrawals.xhtml"/>
            <ui:include src="closeaccount.xhtml"/>
            <ui:include src="loan/loanPay.xhtml"/>
            <ui:include src="/confirmation.xhtml"/>
            <ui:include src="loan/Create.xhtml"/>
            <ui:include src="memberBills/Create_1.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
