<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/admin/template/main.xhtml">


        <ui:define name="title">
            <h:outputText value="Members Statement"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <div class="row">
                <div class="col-md-12">
                    <p:messages id="growl" closable="true" />
                </div>
            </div>
            <h:form id="PaymentSummaryItemsListForm">
                <p:button id="statement" outcome="/admin/members/profile" value="Back"/>
                <p:commandButton actionListener="#{membersController.onPrint}" value="Print" icon="ui-icon-print" ajax="false" />
                <p:dataTable id="datalist" value="#{membersController.selected.paymentSummaryItemsCollection}" var="item"
                             rowKey="#{item.id}"
                             selection="#{membersController.selectedPaymentSummaryItem}"
                             selectionMode="single"
                             rowIndexVar="rowIndex"
                             editable="true"
                             editMode="row" 
                             >
                    <p:ajax event="rowEdit" listener="#{membersController.onRowEditStatement}" update=":PaymentSummaryItemsListForm:datalist,:growl" />
                    <p:ajax event="rowEditCancel" listener="#{membersController.onRowCancel}" update=":PaymentSummaryItemsListForm:datalist,:growl" />
                    <f:facet name="header">
                        <h:outputText value="#{membersController.titleMember}"/>
                    </f:facet>
                    <p:columnGroup type="header">
                        <p:row>
                            <p:column rowspan="2" headerText="No" style="width:3%;font-size: 11px"/>
                            <p:column rowspan="2" headerText="Date" style="font-size: 11px" />
                            <p:column style="font-size: 11px" colspan="3" headerText="Shares"/> 
                            <p:column style="font-size: 11px" colspan="3" headerText="Deposits"/> 
                            <p:column style="font-size: 11px" colspan="3" headerText="Normal Loan"/> 
                            <p:column style="font-size: 11px" colspan="3" headerText="Interest Normal Loan"/>
                            <p:column style="font-size: 11px" colspan="3" headerText="Emergency Loan"/> 
                            <p:column style="font-size: 11px" colspan="3" headerText="Interest Emergency Loan"/> 
                        </p:row>
                        <p:row>
                            <p:column style="font-size: 11px" headerText="Received" />
                            <p:column style="font-size: 11px" headerText="Withdrawn" />
                            <p:column style="font-size: 11px" headerText="Balance" />
                            <p:column style="font-size: 11px" headerText="Received" />
                            <p:column style="font-size: 11px" headerText="Withdrawn" />
                            <p:column style="font-size: 11px" headerText="Balance" />
                            <p:column style="font-size: 11px" headerText="Loaned" />
                            <p:column style="font-size: 11px" headerText="Repayed" />
                            <p:column style="font-size: 11px" headerText="Balance" />
                            <p:column style="font-size: 11px" headerText="Charged" />
                            <p:column style="font-size: 11px" headerText="Paid" />
                            <p:column style="font-size: 11px" headerText="Balance" />
                            <p:column style="font-size: 11px" headerText="Loaned" />
                            <p:column style="font-size: 11px" headerText="Repayed" />
                            <p:column style="font-size: 11px" headerText="Balance" />
                            <p:column style="font-size: 11px" headerText="Charged" />
                            <p:column style="font-size: 11px" headerText="Paid" />
                            <p:column style="font-size: 11px" headerText="Balance" />
                        </p:row>
                    </p:columnGroup>
                    <p:column style="width: 30px;font-size: 11px">
                        <f:facet name="header">
                            <h:outputText value="NO."/>
                        </f:facet>
                        <h:outputText value="#{rowIndex+1}"/>                        
                    </p:column>
                    <p:column style="font-size: 11px">
                        <h:outputText value="#{item.paymentSummaryId.datePreparedStr}">
                            <f:convertDateTime pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" />
                        </h:outputText>
                    </p:column>
                    <p:column style="font-size: 11px">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{item.paidShares}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText id="paidShares" value="#{item.paidShares}" style="width:100%">
                                    <p:ajax partialSubmit="true" update=":PaymentSummaryItemsListForm:datalist"/>
                                </p:inputText>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column style="font-size: 11px">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{item.withdrawnSharesAmount}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText id="withdrawnSharesAmount" value="#{item.withdrawnSharesAmount}" style="width:100%">
                                    <p:ajax partialSubmit="true" update=":PaymentSummaryItemsListForm:datalist"/>
                                </p:inputText>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column style="font-size: 11px">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{item.sharesBalance}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText id="sharesBalance" value="#{item.sharesBalance}" style="width:100%">
                                    <p:ajax partialSubmit="true" update=":PaymentSummaryItemsListForm:datalist"/>
                                </p:inputText>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column style="font-size: 11px">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{item.depositedAmount}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText id="depositedAmount" value="#{item.depositedAmount}" style="width:100%">
                                    <p:ajax partialSubmit="true" update=":PaymentSummaryItemsListForm:datalist"/>
                                </p:inputText>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column style="font-size: 11px">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{item.withdrawnDepositsAmount}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText id="withdrawnDepositsAmount" value="#{item.withdrawnDepositsAmount}" style="width:100%">
                                    <p:ajax partialSubmit="true" update=":PaymentSummaryItemsListForm:datalist"/>
                                </p:inputText>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column style="font-size: 11px">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{item.depositsTotal}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText id="depositsTotal" value="#{item.depositsTotal}" style="width:100%">
                                    <p:ajax partialSubmit="true" update=":PaymentSummaryItemsListForm:datalist"/>
                                </p:inputText>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column style="font-size: 11px">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{item.loaned}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText id="loaned" value="#{item.loaned}" style="width:100%">
                                    <p:ajax partialSubmit="true" update=":PaymentSummaryItemsListForm:datalist"/>
                                </p:inputText>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column style="font-size: 11px">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{item.totalLoanPaidNormal}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText id="totalLoanPaidNormal" value="#{item.normalLoanPaid}" style="width:100%">
                                    <p:ajax partialSubmit="true" update=":PaymentSummaryItemsListForm:datalist"/>
                                </p:inputText>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>                        
                    <p:column style="font-size: 11px">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{item.loanBalance}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText id="loanBalance" value="#{item.loanBalance}" style="width:100%">
                                    <p:ajax partialSubmit="true" update=":PaymentSummaryItemsListForm:datalist"/>
                                </p:inputText>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>                      
                    <p:column style="font-size: 11px">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{item.interestCharged}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText id="interestCharged" value="#{item.interestCharged}" style="width:100%">
                                    <p:ajax partialSubmit="true" update=":PaymentSummaryItemsListForm:datalist"/>
                                </p:inputText>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column style="font-size: 11px">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{item.totalInterestPaidNormal}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText id="totalInterestPaidNormal" value="#{item.normalLoanInterestPaid}" style="width:100%">
                                    <p:ajax partialSubmit="true" update=":PaymentSummaryItemsListForm:datalist"/>
                                </p:inputText>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column style="font-size: 11px">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{item.interestBalance}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText id="interestBalance" value="#{item.interestBalance}" style="width:100%">
                                    <p:ajax partialSubmit="true" update=":PaymentSummaryItemsListForm:datalist"/>
                                </p:inputText>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column style="font-size: 11px">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{item.loanedemergency}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText id="loanedemergency" value="#{item.loanedemergency}" style="width:100%">
                                    <p:ajax partialSubmit="true" update=":PaymentSummaryItemsListForm:datalist"/>
                                </p:inputText>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column style="font-size: 11px">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{item.totalLoanPaidEmergency}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText id="totalLoanPaidEmergency" value="#{item.emergencyLoanPaid}" style="width:100%">
                                    <p:ajax partialSubmit="true" update=":PaymentSummaryItemsListForm:datalist"/>
                                </p:inputText>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>                        
                    <p:column style="font-size: 11px">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{item.loanBalanceEmergency}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText id="loanBalanceEmergency" value="#{item.loanBalanceEmergency}" style="width:100%">
                                    <p:ajax partialSubmit="true" update=":PaymentSummaryItemsListForm:datalist"/>
                                </p:inputText>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>                      
                    <p:column style="font-size: 11px">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{item.interestChargedEmergency}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText id="interestChargedEmergency" value="#{item.interestChargedEmergency}" style="width:100%">
                                    <p:ajax partialSubmit="true" update=":PaymentSummaryItemsListForm:datalist"/>
                                </p:inputText>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column style="font-size: 11px">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{item.totalInterestPaidEmergency}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText id="totalInterestPaidEmergency" value="#{item.emergencyLoanInterestPaid}" style="width:100%">
                                    <p:ajax partialSubmit="true" update=":PaymentSummaryItemsListForm:datalist"/>
                                </p:inputText>
                            </f:facet>
                        </p:cellEditor>                        
                    </p:column>
                    <p:column style="font-size: 11px">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{item.interestBalanceEmergency}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText id="interestBalanceEmergency" value="#{item.interestBalanceEmergency}" style="width:100%">
                                    <p:ajax partialSubmit="true" update=":PaymentSummaryItemsListForm:datalist"/>
                                </p:inputText>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column style="width:32px">
                        <p:rowEditor />
                    </p:column>
                </p:dataTable>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
