<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SaccoLedgerEntriesCreateDlg" widgetVar="SaccoLedgerEntriesCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateSaccoLedgerEntriesTitle}">
            <h:form id="SaccoLedgerEntriesCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{saccoLedgerEntriesController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateSaccoLedgerEntriesLabel_id}" for="id" />
                        <p:inputText id="id" value="#{saccoLedgerEntriesController.selected.id}" title="#{bundle.CreateSaccoLedgerEntriesTitle_id}" required="true" requiredMessage="#{bundle.CreateSaccoLedgerEntriesRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.CreateSaccoLedgerEntriesLabel_dr}" for="dr" />
                        <p:inputText id="dr" value="#{saccoLedgerEntriesController.selected.dr}" title="#{bundle.CreateSaccoLedgerEntriesTitle_dr}" required="true" requiredMessage="#{bundle.CreateSaccoLedgerEntriesRequiredMessage_dr}"/>
                        <p:outputLabel value="#{bundle.CreateSaccoLedgerEntriesLabel_cr}" for="cr" />
                        <p:inputText id="cr" value="#{saccoLedgerEntriesController.selected.cr}" title="#{bundle.CreateSaccoLedgerEntriesTitle_cr}" required="true" requiredMessage="#{bundle.CreateSaccoLedgerEntriesRequiredMessage_cr}"/>
                        <p:outputLabel value="#{bundle.CreateSaccoLedgerEntriesLabel_dateWhen}" for="dateWhen" />
                        <p:calendar id="dateWhen" pattern="MM/dd/yyyy" value="#{saccoLedgerEntriesController.selected.dateWhen}" title="#{bundle.EditSaccoLedgerEntriesTitle_dateWhen}" required="true" requiredMessage="#{bundle.EditSaccoLedgerEntriesRequiredMessage_dateWhen}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateSaccoLedgerEntriesLabel_ledgerId}" for="ledgerId" />
                        <p:selectOneMenu id="ledgerId" value="#{saccoLedgerEntriesController.selected.ledgerId}" required="true" requiredMessage="#{bundle.EditSaccoLedgerEntriesRequiredMessage_ledgerId}">
                            <f:selectItems value="#{saccoLedgersController.itemsAvailableSelectOne}"
                                           var="ledgerIdItem"
                                           itemValue="#{ledgerIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{saccoLedgerEntriesController.create}" value="#{bundle.Save}" update="display,:SaccoLedgerEntriesListForm:datalist,:growl" oncomplete="handleSubmit(args,'SaccoLedgerEntriesCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="SaccoLedgerEntriesCreateDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
