<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SaccoLedgerEntriesViewDlg" widgetVar="SaccoLedgerEntriesViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewSaccoLedgerEntriesTitle}">
            <h:form id="SaccoLedgerEntriesViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{saccoLedgerEntriesController.selected != null}">
                        <h:outputText value="#{bundle.ViewSaccoLedgerEntriesLabel_id}"/>
                        <h:outputText value="#{saccoLedgerEntriesController.selected.id}" title="#{bundle.ViewSaccoLedgerEntriesTitle_id}"/>
                        <h:outputText value="#{bundle.ViewSaccoLedgerEntriesLabel_dr}"/>
                        <h:outputText value="#{saccoLedgerEntriesController.selected.dr}" title="#{bundle.ViewSaccoLedgerEntriesTitle_dr}"/>
                        <h:outputText value="#{bundle.ViewSaccoLedgerEntriesLabel_cr}"/>
                        <h:outputText value="#{saccoLedgerEntriesController.selected.cr}" title="#{bundle.ViewSaccoLedgerEntriesTitle_cr}"/>
                        <h:outputText value="#{bundle.ViewSaccoLedgerEntriesLabel_dateWhen}"/>
                        <h:outputText value="#{saccoLedgerEntriesController.selected.dateWhen}" title="#{bundle.ViewSaccoLedgerEntriesTitle_dateWhen}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewSaccoLedgerEntriesLabel_ledgerId}"/>
                        <h:outputText value="#{saccoLedgerEntriesController.selected.ledgerId}" title="#{bundle.ViewSaccoLedgerEntriesTitle_ledgerId}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="SaccoLedgerEntriesViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
