<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListAccountTransitionsTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="AccountTransitionsListForm">
                <p:panel header="#{bundle.ListAccountTransitionsTitle}">
                    <p:dataTable id="datalist" value="#{accountTransitionsController.items}" var="item"
                                 selectionMode="single" selection="#{accountTransitionsController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAccountTransitionsTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAccountTransitionsTitle_dateWhen}"/>
                            </f:facet>
                            <h:outputText value="#{item.dateWhen}">
                                <f:convertDateTime pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAccountTransitionsTitle_comments}"/>
                            </f:facet>
                            <h:outputText value="#{item.comments}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAccountTransitionsTitle_account}"/>
                            </f:facet>
                            <h:outputText value="#{item.account}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAccountTransitionsTitle_status}"/>
                            </f:facet>
                            <h:outputText value="#{item.status}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{accountTransitionsController.prepareCreate}" update=":AccountTransitionsCreateForm" oncomplete="PF('AccountTransitionsCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":AccountTransitionsViewForm" oncomplete="PF('AccountTransitionsViewDialog').show()" disabled="#{empty accountTransitionsController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":AccountTransitionsEditForm" oncomplete="PF('AccountTransitionsEditDialog').show()" disabled="#{empty accountTransitionsController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{accountTransitionsController.destroy}" update=":growl,datalist" disabled="#{empty accountTransitionsController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
