<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AccountTransitionsViewDlg" widgetVar="AccountTransitionsViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewAccountTransitionsTitle}">
            <h:form id="AccountTransitionsViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{accountTransitionsController.selected != null}">
                        <h:outputText value="#{bundle.ViewAccountTransitionsLabel_id}"/>
                        <h:outputText value="#{accountTransitionsController.selected.id}" title="#{bundle.ViewAccountTransitionsTitle_id}"/>
                        <h:outputText value="#{bundle.ViewAccountTransitionsLabel_dateWhen}"/>
                        <h:outputText value="#{accountTransitionsController.selected.dateWhen}" title="#{bundle.ViewAccountTransitionsTitle_dateWhen}">
                            <f:convertDateTime pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewAccountTransitionsLabel_comments}"/>
                        <h:outputText value="#{accountTransitionsController.selected.comments}" title="#{bundle.ViewAccountTransitionsTitle_comments}"/>
                        <h:outputText value="#{bundle.ViewAccountTransitionsLabel_account}"/>
                        <h:outputText value="#{accountTransitionsController.selected.account}" title="#{bundle.ViewAccountTransitionsTitle_account}"/>
                        <h:outputText value="#{bundle.ViewAccountTransitionsLabel_status}"/>
                        <h:outputText value="#{accountTransitionsController.selected.status}" title="#{bundle.ViewAccountTransitionsTitle_status}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="AccountTransitionsViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
