<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <h:outputStylesheet library="css" name="jsfcrud.css"/>
            <h:outputScript library="js" name="jsfcrud.js"/>
            <h:outputStylesheet library="css" name="bootstrap.min.css" />
            <h:outputStylesheet library="css" name="sb-admin.css" />
            <h:outputScript library="js" name="jquery.js" />
            <h:outputScript library="js" name="bootstrap.min.js" />
            <h:outputStylesheet name="css/font-awesome.css" />
            <title><ui:insert name="title">Default Title</ui:insert></title>
        </f:facet>
    </h:head>

    <h:body>
        <div id="wrapper">
            <p:ajaxStatus onstart="PF('statusDialog').show()"  oncomplete="PF('statusDialog').hide()"/>
            <p:dialog style="background: transparent; border:none; width: 1px !important;" position="right bottom" widgetVar="statusDialog" modal="false" draggable="false" closable="true" resizable="false" showHeader="false">
                <h:graphicImage library="images" name="loader.gif" />
            </p:dialog>

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h4 style="color: white">T.K.N Sacco</h4>
                </div>
                <!-- Top Menu Items -->
                <ul class="nav navbar-right top-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <h:outputText id="username" value=" #{userController.authenticatedUser.adminProfile.name}"  styleClass="user"/> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#{request.contextPath}/logout"><span class="fa fa-lock"></span>    Log Out</a></li>
                            <li><h:link class="fa fa-gears" outcome="/admin/users/changeMyPassword" value=" Change Password"/></li>
                            <li><h:link class="fa fa-gears" outcome="/admin/users/changeMyUserName" value=" Change UserName"/></li>
                            <li><h:link class="fa fa-gears" outcome="/admin/users/EditMyProfile" value=" Edit Profile"/></li>
                        </ul>
                    </li>
                </ul>
                <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav side-nav">
                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#acc"><i class="fa fa-fw fa-arrows-v"></i>Members Management <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="acc" class="collapse">
                                <li><h:link class="fa fa-male" value="  Members" outcome="/admin/members/List.xhtml"/></li>
                                <li><h:link class="fa fa-bar-chart" value=" Members Acc Status" outcome="/admin/members/acc_status.xhtml"/></li>
                                <li><h:link class="fa fa-book" value="  Members Profile" outcome="/admin/members/profile.xhtml"/></li>
                                <li><h:link class="fa fa-list" value="  Collections" outcome="/admin/collections/List.xhtml"/></li>
                                <li><h:link class="fa fa-upload" value="    Upload Collections" outcome="/admin/collections/createbulkcollection.xhtml"/></li>
                                <li><h:link class="fa fa-cloud-upload" value="  Bulk Collections" outcome="/admin/collections/createbulkcollection_1.xhtml"/></li>
                                <li><h:link class="fa fa-money" value=" Deposits" outcome="/admin/depositCash/List.xhtml"/></li>
                                <li><h:link class="fa fa-calendar" value="  Collections By Date" outcome="/admin/collections/collections_by_date.xhtml"/></li>
                                <li><h:link class="fa fa-calendar" value="  Collections By Date And Type" outcome="/admin/collections/collections_by_date_by_type.xhtml"/></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i>Setup And Operations <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="demo" class="collapse">          
                                <li><h:link class="fa fa-gears" value=" System Settings" outcome="/admin/systemSettings/List.xhtml"/></li>               
                                <li><h:link class="fa fa-certificate" value="   Batch Operations" outcome="/admin/collections/batchoperations.xhtml"/></li>
                                <li><h:link class="fa fa-car" value="   Fixed Assets" outcome="/admin/fixedAsset/List.xhtml"/></li>
                                <li><h:link class="fa fa-arrow-left" value="    Debtors" outcome="/admin/deptors/List.xhtml"/></li>
                                <li><h:link class="fa fa-dollar" value="    Sales" outcome="/admin/saccoIncome/List.xhtml"/></li>
                                <li><h:link class="fa fa-list" value="  Sale Items" outcome="/admin/saccoItemsSellable/List.xhtml"/></li>
                                <li><h:link class="fa fa-arrow-left" value="    Expenses" outcome="/admin/expenses/List.xhtml"/></li>
                                <li><h:link class="fa fa-bank" value="  Bank Accounts" outcome="/admin/bankAccount/List.xhtml"/></li>
                                <li><h:link class="fa fa-bank" value="  Bankings" outcome="/admin/bankings/List.xhtml"/></li>
                                <li><h:link class="fa fa-bank" value="  Bankings" outcome="/admin/bankings/List.xhtml"/></li>
                                <li><h:link class="fa fa-bank" value="  Bankings" outcome="/admin/bankings/List.xhtml"/></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#reports"><i class="fa fa-fw fa-arrows-v"></i>Accounting Reports <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="reports" class="collapse">   
                                <li><h:link class="fa fa-area-chart" value="    Payment Summaries" outcome="/admin/paymentSummaryItems/history.xhtml"/></li>
                                <li><h:link class="fa fa-asterisk" value="  Loans Summary" outcome="/admin/loan/List.xhtml"/></li>
                                <li><h:link class="fa fa-warning" value="  Defaulted Loans" outcome="/admin/loan/deffaultedLoans.xhtml"/></li>
                                <li><h:link class="fa fa-minus-circle" value="  Loans Recovery" outcome="/admin/loanRecovery/List.xhtml"/></li>
                                <li><h:link class="fa fa-book" value="  Ledger Book" outcome="/admin/saccoLedgerEntries/List.xhtml"/></li>
                                <li><h:link class="fa fa-adjust" value="    Trial Balance" outcome="/admin/saccoLedgers/List.xhtml"/></li> 
                                <li><h:link class="fa fa-reorder" value="   Balance Sheet" outcome="/admin/systemSettings/List.xhtml"/></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
            <div id="page-wrapper">
                <div class="container-fluid">
                    <ui:insert name="body" /> 
                </div>
            </div>
        </div>
        <!-- /#wrapper -->
    </h:body>
</html>