<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SystemSettingsEditDlg" widgetVar="SystemSettingsEditDialog" modal="true" resizable="false" appendTo="@(body)" header="Edit System Settings Title">
            <h:form id="SystemSettingsEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{systemSettingsController.selected != null}">
                        <p:outputLabel value="title" for="title" />
                        <p:inputText id="title" value="#{systemSettingsController.selected.title}" required="true"/>
                        <p:outputLabel value="value" for="value" />
                        <p:inputText id="value" value="#{systemSettingsController.selected.value}" required="true"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{systemSettingsController.update}" value="#{bundle.Save}" update="display,:SystemSettingsListForm:datalist,:growl" oncomplete="handleSubmit(args, 'SystemSettingsEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="SystemSettingsEditDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
