<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/admin/template/main.xhtml">


        <ui:define name="title">
            <h:outputText value="System Settings"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        System Settings  <small>Manage Sacco System Settings</small>
                    </h1>
                </div>
            </div>
            <!-- /.row -->
            <!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <p:messages id="growl" closable="true" />
                </div>
            </div>
            <h:form id="SystemSettingsListForm">
                <p:panel header="System Settings">
                    <p:dataTable id="datalist" value="#{systemSettingsController.items}" var="item"
                                 selectionMode="single" selection="#{systemSettingsController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 paginatorPosition="bottom"
                                 rowIndexVar="rowIndex"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column style="width: 30px">
                            <f:facet name="header">
                                <h:outputText value="NO."/>
                            </f:facet>
                            <h:outputText value="#{rowIndex+1}"/>                        
                        </p:column>
                        <p:column sortBy="#{item.title}">
                            <f:facet name="header">
                                <h:outputText value="Title"/>
                            </f:facet>
                            <h:outputText value="#{item.title}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Value"/>
                            </f:facet>
                            <h:outputText value="#{item.value}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{systemSettingsController.prepareCreate}" update=":SystemSettingsCreateForm" oncomplete="PF('SystemSettingsCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":SystemSettingsViewForm" oncomplete="PF('SystemSettingsViewDialog').show()" disabled="#{empty systemSettingsController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":SystemSettingsEditForm" oncomplete="PF('SystemSettingsEditDialog').show()" disabled="#{empty systemSettingsController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{systemSettingsController.destroy}" update=":growl,datalist" disabled="#{empty systemSettingsController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
