<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SystemSettingsViewDlg" widgetVar="SystemSettingsViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewSystemSettingsTitle}">
            <h:form id="SystemSettingsViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{systemSettingsController.selected != null}">
                        <h:outputText value="#{bundle.ViewSystemSettingsLabel_id}"/>
                        <h:outputText value="#{systemSettingsController.selected.id}" title="#{bundle.ViewSystemSettingsTitle_id}"/>
                        <h:outputText value="#{bundle.ViewSystemSettingsLabel_Title}"/>
                        <h:outputText value="#{systemSettingsController.selected.title}" title="#{bundle.ViewSystemSettingsTitle_Title}"/>
                        <h:outputText value="#{bundle.ViewSystemSettingsLabel_value}"/>
                        <h:outputText value="#{systemSettingsController.selected.value}" title="#{bundle.ViewSystemSettingsTitle_value}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="SystemSettingsViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
