<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SaccoItemsSellableCreateDlg" widgetVar="SaccoItemsSellableCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateSaccoItemsSellableTitle}">
            <h:form id="SaccoItemsSellableCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{saccoItemsSellableController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateSaccoItemsSellableLabel_title}" for="title" />
                        <p:inputText id="title" value="#{saccoItemsSellableController.selected.title}" title="#{bundle.CreateSaccoItemsSellableTitle_title}" required="true" requiredMessage="#{bundle.CreateSaccoItemsSellableRequiredMessage_title}"/>
                        <p:outputLabel value="#{bundle.CreateSaccoItemsSellableLabel_description}" for="description" />
                        <p:inputText id="description" value="#{saccoItemsSellableController.selected.description}" title="#{bundle.CreateSaccoItemsSellableTitle_description}" required="true" requiredMessage="#{bundle.CreateSaccoItemsSellableRequiredMessage_description}"/>
                        <p:outputLabel value="#{bundle.CreateSaccoItemsSellableLabel_value}" for="value" />
                        <p:inputText id="value" value="#{saccoItemsSellableController.selected.value}" title="#{bundle.CreateSaccoItemsSellableTitle_value}" required="true" requiredMessage="#{bundle.CreateSaccoItemsSellableRequiredMessage_value}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{saccoItemsSellableController.create}" value="#{bundle.Save}" update="display,:SaccoItemsSellableListForm:datalist,:growl" oncomplete="handleSubmit(args,'SaccoItemsSellableCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="SaccoItemsSellableCreateDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
