<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SaccoItemsSellableEditDlg" widgetVar="SaccoItemsSellableEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditSaccoItemsSellableTitle}">
            <h:form id="SaccoItemsSellableEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{saccoItemsSellableController.selected != null}">
                        <p:outputLabel value="#{bundle.EditSaccoItemsSellableLabel_id}" for="id" />
                        <p:inputText id="id" value="#{saccoItemsSellableController.selected.id}" title="#{bundle.EditSaccoItemsSellableTitle_id}" required="true" requiredMessage="#{bundle.EditSaccoItemsSellableRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditSaccoItemsSellableLabel_title}" for="title" />
                        <p:inputText id="title" value="#{saccoItemsSellableController.selected.title}" title="#{bundle.EditSaccoItemsSellableTitle_title}" required="true" requiredMessage="#{bundle.EditSaccoItemsSellableRequiredMessage_title}"/>
                        <p:outputLabel value="#{bundle.EditSaccoItemsSellableLabel_description}" for="description" />
                        <p:inputText id="description" value="#{saccoItemsSellableController.selected.description}" title="#{bundle.EditSaccoItemsSellableTitle_description}" required="true" requiredMessage="#{bundle.EditSaccoItemsSellableRequiredMessage_description}"/>
                        <p:outputLabel value="#{bundle.EditSaccoItemsSellableLabel_value}" for="value" />
                        <p:inputText id="value" value="#{saccoItemsSellableController.selected.value}" title="#{bundle.EditSaccoItemsSellableTitle_value}" required="true" requiredMessage="#{bundle.EditSaccoItemsSellableRequiredMessage_value}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{saccoItemsSellableController.update}" value="#{bundle.Save}" update="display,:SaccoItemsSellableListForm:datalist,:growl" oncomplete="handleSubmit(args, 'SaccoItemsSellableEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="SaccoItemsSellableEditDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
