<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SaccoItemsSellableViewDlg" widgetVar="SaccoItemsSellableViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewSaccoItemsSellableTitle}">
            <h:form id="SaccoItemsSellableViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{saccoItemsSellableController.selected != null}">
                        <h:outputText value="#{bundle.ViewSaccoItemsSellableLabel_id}"/>
                        <h:outputText value="#{saccoItemsSellableController.selected.id}" title="#{bundle.ViewSaccoItemsSellableTitle_id}"/>
                        <h:outputText value="#{bundle.ViewSaccoItemsSellableLabel_title}"/>
                        <h:outputText value="#{saccoItemsSellableController.selected.title}" title="#{bundle.ViewSaccoItemsSellableTitle_title}"/>
                        <h:outputText value="#{bundle.ViewSaccoItemsSellableLabel_description}"/>
                        <h:outputText value="#{saccoItemsSellableController.selected.description}" title="#{bundle.ViewSaccoItemsSellableTitle_description}"/>
                        <h:outputText value="#{bundle.ViewSaccoItemsSellableLabel_value}"/>
                        <h:outputText value="#{saccoItemsSellableController.selected.value}" title="#{bundle.ViewSaccoItemsSellableTitle_value}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="SaccoItemsSellableViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
