<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition>

        <p:dialog id="BankAccountTransactionCreateDlg" widgetVar="BankAccountTransactionCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateBankAccountTransactionTitle}">
            <h:form id="BankAccountTransactionCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{bankAccountTransactionController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateBankAccountTransactionLabel_description}" for="description" />
                        <p:inputText id="description" value="#{bankAccountTransactionController.selected.description}" title="#{bundle.CreateBankAccountTransactionTitle_description}" required="true" requiredMessage="#{bundle.CreateBankAccountTransactionRequiredMessage_description}"/>
                        <p:outputLabel value="#{bundle.CreateBankAccountTransactionLabel_amountCredit}" for="amountCredit" />
                        <p:inputText id="amountCredit" value="#{bankAccountTransactionController.selected.amountCredit}" title="#{bundle.CreateBankAccountTransactionTitle_amountCredit}" required="true" requiredMessage="#{bundle.CreateBankAccountTransactionRequiredMessage_amountCredit}"/>
                        <p:outputLabel value="#{bundle.CreateBankAccountTransactionLabel_amountDebit}" for="amountDebit" />
                        <p:inputText id="amountDebit" value="#{bankAccountTransactionController.selected.amountDebit}" title="#{bundle.CreateBankAccountTransactionTitle_amountDebit}" required="true" requiredMessage="#{bundle.CreateBankAccountTransactionRequiredMessage_amountDebit}"/>
                        <p:outputLabel value="#{bundle.CreateBankAccountTransactionLabel_accountBalance}" for="accountBalance" />
                        <p:inputText id="accountBalance" value="#{bankAccountTransactionController.selected.accountBalance}" title="#{bundle.CreateBankAccountTransactionTitle_accountBalance}" required="true" requiredMessage="#{bundle.CreateBankAccountTransactionRequiredMessage_accountBalance}"/>
                        <p:outputLabel value="#{bundle.CreateBankAccountTransactionLabel_dateWhen}" for="dateWhen" />
                        <p:calendar id="dateWhen" pattern="MM/dd/yyyy HH:mm:ss" value="#{bankAccountTransactionController.selected.dateWhen}" title="#{bundle.EditBankAccountTransactionTitle_dateWhen}" required="true" requiredMessage="#{bundle.EditBankAccountTransactionRequiredMessage_dateWhen}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateBankAccountTransactionLabel_dateCreated}" for="dateCreated" />
                        <p:calendar id="dateCreated" pattern="MM/dd/yyyy HH:mm:ss" value="#{bankAccountTransactionController.selected.dateCreated}" title="#{bundle.EditBankAccountTransactionTitle_dateCreated}" required="true" requiredMessage="#{bundle.EditBankAccountTransactionRequiredMessage_dateCreated}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateBankAccountTransactionLabel_account}" for="account" />
                        <p:selectOneMenu id="account" value="#{bankAccountTransactionController.selected.account}" required="true" requiredMessage="#{bundle.EditBankAccountTransactionRequiredMessage_account}">
                            <f:selectItem itemLabel="Select One"/>
                            <f:selectItems value="#{bankAccountController.itemsAvailableSelectOne}"
                                           var="accountItem"  itemLabel="#{accountItem.name}"
                                           itemValue="#{accountItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{bankAccountTransactionController.create}" value="#{bundle.Save}" update="display,:BankAccountTransactionListForm:datalist,:growl" oncomplete="handleSubmit(args,'BankAccountTransactionCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="BankAccountTransactionCreateDialog.hide()"  immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>