<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition>

        <p:dialog id="BankAccountTransactionEditDlg" widgetVar="BankAccountTransactionEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditBankAccountTransactionTitle}">
            <h:form id="BankAccountTransactionEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{bankAccountTransactionController.selected != null}">
                        <p:outputLabel value="#{bundle.EditBankAccountTransactionLabel_description}" for="description" />
                        <p:inputText id="description" value="#{bankAccountTransactionController.selected.description}" title="#{bundle.EditBankAccountTransactionTitle_description}" required="true" requiredMessage="#{bundle.EditBankAccountTransactionRequiredMessage_description}"/>
                        <p:outputLabel value="#{bundle.EditBankAccountTransactionLabel_amountCredit}" for="amountCredit" />
                        <p:inputText id="amountCredit" value="#{bankAccountTransactionController.selected.amountCredit}" title="#{bundle.EditBankAccountTransactionTitle_amountCredit}" required="true" requiredMessage="#{bundle.EditBankAccountTransactionRequiredMessage_amountCredit}"/>
                        <p:outputLabel value="#{bundle.EditBankAccountTransactionLabel_amountDebit}" for="amountDebit" />
                        <p:inputText id="amountDebit" value="#{bankAccountTransactionController.selected.amountDebit}" title="#{bundle.EditBankAccountTransactionTitle_amountDebit}" required="true" requiredMessage="#{bundle.EditBankAccountTransactionRequiredMessage_amountDebit}"/>
                        <p:outputLabel value="#{bundle.EditBankAccountTransactionLabel_accountBalance}" for="accountBalance" />
                        <p:inputText id="accountBalance" value="#{bankAccountTransactionController.selected.accountBalance}" title="#{bundle.EditBankAccountTransactionTitle_accountBalance}" required="true" requiredMessage="#{bundle.EditBankAccountTransactionRequiredMessage_accountBalance}"/>
                        <p:outputLabel value="#{bundle.EditBankAccountTransactionLabel_dateWhen}" for="dateWhen" />
                        <p:calendar id="dateWhen" pattern="MM/dd/yyyy HH:mm:ss" value="#{bankAccountTransactionController.selected.dateWhen}" title="#{bundle.EditBankAccountTransactionTitle_dateWhen}" required="true" requiredMessage="#{bundle.EditBankAccountTransactionRequiredMessage_dateWhen}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditBankAccountTransactionLabel_dateCreated}" for="dateCreated" />
                        <p:calendar id="dateCreated" pattern="MM/dd/yyyy HH:mm:ss" value="#{bankAccountTransactionController.selected.dateCreated}" title="#{bundle.EditBankAccountTransactionTitle_dateCreated}" required="true" requiredMessage="#{bundle.EditBankAccountTransactionRequiredMessage_dateCreated}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditBankAccountTransactionLabel_account}" for="account" />
                        <p:selectOneMenu id="account" value="#{bankAccountTransactionController.selected.account}" required="true" requiredMessage="#{bundle.EditBankAccountTransactionRequiredMessage_account}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{bankAccountController.itemsAvailableSelectOne}"
                                           var="accountItem" itemLabel="#{accountItem.name}"
                                           itemValue="#{accountItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{bankAccountTransactionController.update}" value="#{bundle.Save}" update="display,:BankAccountTransactionListForm:datalist,:growl" oncomplete="handleSubmit(args, 'BankAccountTransactionEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="BankAccountTransactionEditDialog.hide()"  immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>