<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BankAccountTransactionViewDlg" widgetVar="BankAccountTransactionViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewBankAccountTransactionTitle}">
            <h:form id="BankAccountTransactionViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{bankAccountTransactionController.selected != null}">
                        <h:outputText value="#{bundle.ViewBankAccountTransactionLabel_id}"/>
                        <h:outputText value="#{bankAccountTransactionController.selected.id}" title="#{bundle.ViewBankAccountTransactionTitle_id}"/>
                        <h:outputText value="#{bundle.ViewBankAccountTransactionLabel_description}"/>
                        <h:outputText value="#{bankAccountTransactionController.selected.description}" title="#{bundle.ViewBankAccountTransactionTitle_description}"/>
                        <h:outputText value="#{bundle.ViewBankAccountTransactionLabel_amountCredit}"/>
                        <h:outputText value="#{bankAccountTransactionController.selected.amountCredit}" title="#{bundle.ViewBankAccountTransactionTitle_amountCredit}"/>
                        <h:outputText value="#{bundle.ViewBankAccountTransactionLabel_amountDebit}"/>
                        <h:outputText value="#{bankAccountTransactionController.selected.amountDebit}" title="#{bundle.ViewBankAccountTransactionTitle_amountDebit}"/>
                        <h:outputText value="#{bundle.ViewBankAccountTransactionLabel_accountBalance}"/>
                        <h:outputText value="#{bankAccountTransactionController.selected.accountBalance}" title="#{bundle.ViewBankAccountTransactionTitle_accountBalance}"/>
                        <h:outputText value="#{bundle.ViewBankAccountTransactionLabel_dateWhen}"/>
                        <h:outputText value="#{bankAccountTransactionController.selected.dateWhen}" title="#{bundle.ViewBankAccountTransactionTitle_dateWhen}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewBankAccountTransactionLabel_dateCreated}"/>
                        <h:outputText value="#{bankAccountTransactionController.selected.dateCreated}" title="#{bundle.ViewBankAccountTransactionTitle_dateCreated}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewBankAccountTransactionLabel_account}"/>
                        <h:outputText value="#{bankAccountTransactionController.selected.account}" title="#{bundle.ViewBankAccountTransactionTitle_account}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="BankAccountTransactionViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
