<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListLoanTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="LoanListForm">
                <p:panel header="#{bundle.ListLoanTitle}">
                    <p:dataTable id="datalist" value="#{loanController.items}" var="item"
                                 selectionMode="single" selection="#{loanController.selected}"
                                 paginator="true"
                                 rowKey="#{item.loanId}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLoanTitle_loanId}"/>
                            </f:facet>
                            <h:outputText value="#{item.loanId}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLoanTitle_duration}"/>
                            </f:facet>
                            <h:outputText value="#{item.duration}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLoanTitle_issueDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.issueDate}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLoanTitle_amount}"/>
                            </f:facet>
                            <h:outputText value="#{item.amount}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLoanTitle_interestRate}"/>
                            </f:facet>
                            <h:outputText value="#{item.interestRate}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLoanTitle_memeberId}"/>
                            </f:facet>
                            <h:outputText value="#{item.memeberId}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLoanTitle_loanStatus}"/>
                            </f:facet>
                            <h:outputText value="#{item.loanStatus}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{loanController.prepareCreate}" update=":LoanCreateForm" oncomplete="PF('LoanCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":LoanViewForm" oncomplete="PF('LoanViewDialog').show()" disabled="#{empty loanController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":LoanEditForm" oncomplete="PF('LoanEditDialog').show()" disabled="#{empty loanController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{loanController.destroy}" update=":growl,datalist" disabled="#{empty loanController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
