<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/admin/template/main.xhtml">


        <ui:define name="title">
            <h:outputText value="Loan Statement"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Loan Statement<small>      Review And Print Loan Statement</small>
                    </h1>
                </div>
            </div>
            <!-- /.row -->
            <!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <p:messages id="growl" closable="true" />
                </div>
            </div>
            <h:form id="LoanViewForm">
                <div class="row" >
                    <div class="col-lg-12" id="data">
                        <div class="col-lg-9">
                            <h:panelGroup id="display">
                                <p:commandButton value="Delete Selected" actionListener="#{membersController.deleteSchedule()}" update=":LoanViewForm,:growl"/>
                                <p:dataTable id="datalist" value="#{membersController.loan.loanSchedulesCollection}" var="item"
                                             rowKey="#{item.id}"
                                             selection="#{membersController.scheduleSelection}"
                                             rowIndexVar="rowIndex"
                                             >
                                    <f:facet name="header">
                                        <p:outputLabel value="Members Loans Statement"/>
                                    </f:facet>
                                    <p:columnGroup type="header">
                                        <p:row>
                                            <p:column rowspan="2" headerText="No" style="width:3%"/>
                                            <p:column rendered="false" rowspan="2" headerText="id" style="width:7%"/>
                                            <p:column rowspan="2" headerText="Date" />
                                            <p:column rowspan="2" headerText="Principle" />
                                            <p:column rowspan="2" headerText="Interest" />
                                            <p:column rowspan="2" headerText="Interest Paid" />
                                            <p:column rowspan="2" headerText="Interest UnPaid" />
                                            <p:column colspan="4" headerText="Transactions"/> 
                                            <p:column rowspan="2" headerText="Loan Payment" />
                                            <p:column rowspan="2" headerText="Balance" />
                                            <p:column rowspan="2" headerText="" />
                                        </p:row>
                                        <p:row>
                                            <p:column headerText="Date" />
                                            <p:column headerText="Summary" />
                                            <p:column headerText="D.r" />
                                            <p:column headerText="C.r" />
                                        </p:row>
                                    </p:columnGroup>
                                    <p:column style="width: 30px">
                                        <f:facet name="header">
                                            <h:outputText value="NO."/>
                                        </f:facet>
                                        <h:outputText value="#{rowIndex+1}"/>                        
                                    </p:column>
                                    <p:column rendered="false">
                                        <h:outputText value="#{item.id}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{item.dueDate}">
                                            <f:convertDateTime pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" />
                                        </h:outputText>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{item.balance}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{item.interest}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{item.paidInterest}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{item.unpaidInterest}"/>
                                    </p:column>
                                    <p:column rendered="false">
                                        <ui:repeat var="group" value="#{item.loanScheduleTransactionsCollection}">
                                            <h:outputText value="#{group.id}" /><br />
                                        </ui:repeat>
                                    </p:column>
                                    <p:column>
                                        <ui:repeat var="group" value="#{item.loanScheduleTransactionsCollection}">
                                            <h:outputText value="#{group.dateCollected}">
                                                <f:convertDateTime pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" />
                                            </h:outputText><br />
                                        </ui:repeat>
                                    </p:column>
                                    <p:column>
                                        <ui:repeat var="group" value="#{item.loanScheduleTransactionsCollection}">
                                            <h:outputText value="#{group.details}" /><br />
                                        </ui:repeat>
                                    </p:column>
                                    <p:column>
                                        <ui:repeat var="group" value="#{item.loanScheduleTransactionsCollection}">
                                            <h:outputText value="#{group.amountDebit}" /><br />
                                        </ui:repeat>
                                    </p:column>
                                    <p:column>
                                        <ui:repeat var="group" value="#{item.loanScheduleTransactionsCollection}">
                                            <h:outputText value="#{group.amountCredit}" /><br />
                                        </ui:repeat>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{item.payment}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{item.principleAmount}"/>
                                    </p:column>
                                    <p:column selectionMode="multiple" style="width:20px;text-align:center" />
                                </p:dataTable>
                                <p:button id="statement" outcome="/admin/members/profile" value="Back"/>
                            </h:panelGroup>
                        </div>
                        <div class="col-lg-3">
                            <p:dataTable id="datalistguarantors" value="#{membersController.loan.guarantorsCollection}" var="item"
                                         rowKey="#{item.id}"
                                         rowIndexVar="rowIndex"
                                         >
                                <f:facet name="header">
                                    <p:outputLabel value="List of guarantors"/>
                                </f:facet>
                                <p:ajax event="rowSelect"   update="createButton"/>
                                <p:column style="width: 30px">
                                    <f:facet name="header">
                                        <h:outputText value="NO."/>
                                    </f:facet>
                                    <h:outputText value="#{rowIndex+1}"/>                        
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Guarantors Name"/>
                                    </f:facet>
                                    <h:outputText value="#{item.guarantorId.surname}"/>
                                </p:column>                                    
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Recovery Ratio"/>
                                    </f:facet>
                                    <h:outputText value="#{item.ratio}"/>
                                </p:column>
                                <p:column footerText="#{membersController.loan.totalGuaranteedAmount}">
                                    <f:facet name="header">
                                        <h:outputText value="Guaranteed Amount"/>
                                    </f:facet>
                                    <h:outputText value="#{item.guaranteedAmount}"/>
                                </p:column>
                                <f:facet name="footer">
                                    <p:commandButton id="createButton" icon="ui-icon-pencil"   value="#{bundle.Edit}" actionListener="#{membersController.prepareCreateGuarantor()}" update=":GuarantorsCreateForm" oncomplete="PF('GuarantorsCreateDialog').show()"/>
                                    <p:commandButton id="Add" icon="ui-icon-plus"   value="Add" actionListener="#{membersController.prepareCreateGuarantorSingle()}" update=":GuarantorsEditForm" oncomplete="PF('GuarantorsEditDialog').show()"/>
                                </f:facet>
                            </p:dataTable>
                        </div>
                    </div>
                </div>
            </h:form>
            <ui:include src="guarantors/Edit.xhtml"/>
            <ui:include src="guarantors/Create.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
