<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition>

        <p:dialog id="LoanViewDlg" widgetVar="LoanViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewLoanTitle}">
            <h:form id="LoanViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{membersController.loan != null}">
                        <p:panel header="#{bundle.ListLoanSchedulesTitle}">
                            <p:dataTable style="width: 800px;" id="datalist" value="#{membersController.loan.loanSchedulesCollection}" var="item"
                                         rowKey="#{item.id}"
                                         rowIndexVar="rowIndex"
                                         >
                                <p:columnGroup type="header">
                                    <p:row>
                                        <p:column rowspan="2" headerText="No" style="width:3%"/>
                                        <p:column rowspan="2" headerText="Date" />
                                        <p:column rowspan="2" headerText="Principle" />
                                        <p:column rowspan="2" headerText="Interest" />
                                        <p:column colspan="4" headerText="Transactions"/> 
                                        <p:column rowspan="2" headerText="Payment" />
                                        <p:column rowspan="2" headerText="Balance" />
                                    </p:row>
                                    <p:row>
                                        <p:column headerText="Date" />
                                        <p:column headerText="Summary" />
                                        <p:column headerText="C.r" />
                                        <p:column headerText="D.r" />
                                    </p:row>
                                </p:columnGroup>
                                <p:column style="width: 30px">
                                    <f:facet name="header">
                                        <h:outputText value="NO."/>
                                    </f:facet>
                                    <h:outputText value="#{rowIndex+1}"/>                        
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{bundle.ListLoanSchedulesTitle_dueDate}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.dueDate}">
                                        <f:convertDateTime pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" />
                                    </h:outputText>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Balance"/>
                                    </f:facet>
                                    <h:outputText value="#{item.balance}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{bundle.ListLoanSchedulesTitle_interest}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.interest}"/>
                                </p:column>
                                <p:column>
                                    <ui:repeat var="group" value="#{item.loanScheduleTransactionsCollection}">
                                        <h:outputText value="#{group.dateCollected}">
                                            <f:convertDateTime pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" />
                                        </h:outputText><br />
                                    </ui:repeat>
                                </p:column>
                                <p:column>
                                    <ui:repeat var="group" value="#{item.loanScheduleTransactionsCollection}">
                                        <h:outputText value="#{group.details}" /><br />
                                    </ui:repeat>
                                </p:column>
                                <p:column>
                                    <ui:repeat var="group" value="#{item.loanScheduleTransactionsCollection}">
                                        <h:outputText value="#{group.amountCredit}" /><br />
                                    </ui:repeat>
                                </p:column>
                                <p:column>
                                    <ui:repeat var="group" value="#{item.loanScheduleTransactionsCollection}">
                                        <h:outputText value="#{group.amountDebit}" /><br />
                                    </ui:repeat>
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{item.payment}"/>
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{item.principleAmount}"/>
                                </p:column>
                            </p:dataTable>
                        </p:panel>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="LoanViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
