<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition>

        <p:dialog id="BankAccountCreateDlg" widgetVar="BankAccountCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateBankAccountTitle}">
            <h:form id="BankAccountCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{bankAccountController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateBankAccountLabel_bankAccountsName}" for="bankAccountsName" />
                        <p:inputText id="bankAccountsName" value="#{bankAccountController.selected.bankAccountsName}" title="#{bundle.CreateBankAccountTitle_bankAccountsName}" required="true" requiredMessage="#{bundle.CreateBankAccountRequiredMessage_bankAccountsName}"/>
                        <p:outputLabel value="#{bundle.CreateBankAccountLabel_bankAccountsNumber}" for="bankAccountsNumber" />
                        <p:inputText id="bankAccountsNumber" value="#{bankAccountController.selected.bankAccountsNumber}" title="#{bundle.CreateBankAccountTitle_bankAccountsNumber}" required="true" requiredMessage="#{bundle.CreateBankAccountRequiredMessage_bankAccountsNumber}"/>
                        <p:outputLabel value="#{bundle.CreateBankAccountLabel_bankAccountsBranch}" for="bankAccountsBranch" />
                        <p:inputText id="bankAccountsBranch" value="#{bankAccountController.selected.bankAccountsBranch}" title="#{bundle.CreateBankAccountTitle_bankAccountsBranch}" required="true" requiredMessage="#{bundle.CreateBankAccountRequiredMessage_bankAccountsBranch}"/>
                        <p:outputLabel value="#{bundle.CreateBankAccountLabel_bankAccountsBank}" for="bankAccountsBank" />
                        <p:inputText id="bankAccountsBank" value="#{bankAccountController.selected.bankAccountsBank}" title="#{bundle.CreateBankAccountTitle_bankAccountsBank}" required="true" requiredMessage="#{bundle.CreateBankAccountRequiredMessage_bankAccountsBank}"/>
                        <p:outputLabel value="Opening Balance" for="randomInt" />
                        <p:inputText id="randomInt" value="#{bankAccountController.openingBalance}" title="#{bundle.CreateBankAccountTitle_randomInt}" required="true" requiredMessage="#{bundle.CreateBankAccountRequiredMessage_randomInt}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{bankAccountController.create}" value="#{bundle.Save}" update="display,:BankAccountListForm:datalist,:growl" oncomplete="handleSubmit(args,'BankAccountCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="BankAccountCreateDialog.hide()"  immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>