<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition>

        <p:dialog id="BankAccountEditDlg" widgetVar="BankAccountEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditBankAccountTitle}">
            <h:form id="BankAccountEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{bankAccountController.selected != null}">
                        <p:outputLabel value="#{bundle.EditBankAccountLabel_bankAccountsName}" for="bankAccountsName" />
                        <p:inputText id="bankAccountsName" value="#{bankAccountController.selected.bankAccountsName}" title="#{bundle.EditBankAccountTitle_bankAccountsName}" required="true" requiredMessage="#{bundle.EditBankAccountRequiredMessage_bankAccountsName}"/>
                        <p:outputLabel value="#{bundle.EditBankAccountLabel_bankAccountsNumber}" for="bankAccountsNumber" />
                        <p:inputText id="bankAccountsNumber" value="#{bankAccountController.selected.bankAccountsNumber}" title="#{bundle.EditBankAccountTitle_bankAccountsNumber}" required="true" requiredMessage="#{bundle.EditBankAccountRequiredMessage_bankAccountsNumber}"/>
                        <p:outputLabel value="#{bundle.EditBankAccountLabel_bankAccountsBranch}" for="bankAccountsBranch" />
                        <p:inputText id="bankAccountsBranch" value="#{bankAccountController.selected.bankAccountsBranch}" title="#{bundle.EditBankAccountTitle_bankAccountsBranch}" required="true" requiredMessage="#{bundle.EditBankAccountRequiredMessage_bankAccountsBranch}"/>
                        <p:outputLabel value="#{bundle.EditBankAccountLabel_bankAccountsBank}" for="bankAccountsBank" />
                        <p:inputText id="bankAccountsBank" value="#{bankAccountController.selected.bankAccountsBank}" title="#{bundle.EditBankAccountTitle_bankAccountsBank}" required="true" requiredMessage="#{bundle.EditBankAccountRequiredMessage_bankAccountsBank}"/>
                        <p:outputLabel value="#{bundle.EditBankAccountLabel_randomInt}" for="randomInt" />
                        <p:inputText id="randomInt" value="#{bankAccountController.selected.randomInt}" title="#{bundle.EditBankAccountTitle_randomInt}" required="true" requiredMessage="#{bundle.EditBankAccountRequiredMessage_randomInt}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{bankAccountController.update}" value="#{bundle.Save}" update="display,:BankAccountListForm:datalist,:growl" oncomplete="handleSubmit(args, 'BankAccountEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="BankAccountEditDialog.hide()"  immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>