<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/admin/template/main.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListBankAccountTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        #{bundle.ListBankAccountTitle}
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="/AppContext/faces/dashboard.xhtml">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-newspaper-o"></i> #{bundle.ListBankAccountTitle}
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
            <!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <p:messages id="growl" closable="true" />
                </div>
            </div>
            <h:form id="BankAccountListForm">
                <p:dataTable id="datalist" value="#{bankAccountController.items}" var="item"
                             selectionMode="single" selection="#{bankAccountController.selected}"
                             paginator="true"
                             rowKey="#{item.id}"
                             rows="20"
                             rowsPerPageTemplate="10,20,30,40,50"
                             paginatorPosition="bottom"
                             rowIndexVar="rowIndex"
                             >

                    <p:ajax event="rowSelect"   update="createButton editButton"/>
                    <p:ajax event="rowUnselect" update="createButton editButton"/>

                    <p:column style="width: 30px">
                        <f:facet name="header">
                            <h:outputText value="NO."/>
                        </f:facet>
                        <h:outputText value="#{rowIndex+1}"/>                        
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListBankAccountTitle_bankAccountsName}"/>
                        </f:facet>
                        <h:outputText value="#{item.bankAccountsName}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListBankAccountTitle_bankAccountsNumber}"/>
                        </f:facet>
                        <h:outputText value="#{item.bankAccountsNumber}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListBankAccountTitle_bankAccountsBranch}"/>
                        </f:facet>
                        <h:outputText value="#{item.bankAccountsBranch}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListBankAccountTitle_bankAccountsBank}"/>
                        </f:facet>
                        <h:outputText value="#{item.bankAccountsBank}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListBankAccountTitle_randomInt}"/>
                        </f:facet>
                        <h:outputText value="#{item.randomInt}"/>
                    </p:column>
                    <f:facet name="footer">
                        <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{bankAccountController.prepareCreate}" update=":BankAccountCreateForm" oncomplete="PF('BankAccountCreateDialog').show()"/>
                        <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":BankAccountEditForm" oncomplete="PF('BankAccountEditDialog').show()" disabled="#{empty bankAccountController.selected}"/>
                    </f:facet>
                </p:dataTable>
                <p:contextMenu for="datalist">
                    <p:menuitem value="Show Transactions" action="transactions.htm?faces-redirect=true" icon="ui-icon-search"/>
                </p:contextMenu>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="/confirmation.xhtml"/>
        </ui:define>
    </ui:composition>

</html>