<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BankAccountViewDlg" widgetVar="BankAccountViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewBankAccountTitle}">
            <h:form id="BankAccountViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{bankAccountController.selected != null}">
                        <h:outputText value="#{bundle.ViewBankAccountLabel_id}"/>
                        <h:outputText value="#{bankAccountController.selected.id}" title="#{bundle.ViewBankAccountTitle_id}"/>
                        <h:outputText value="#{bundle.ViewBankAccountLabel_bankAccountsName}"/>
                        <h:outputText value="#{bankAccountController.selected.bankAccountsName}" title="#{bundle.ViewBankAccountTitle_bankAccountsName}"/>
                        <h:outputText value="#{bundle.ViewBankAccountLabel_bankAccountsNumber}"/>
                        <h:outputText value="#{bankAccountController.selected.bankAccountsNumber}" title="#{bundle.ViewBankAccountTitle_bankAccountsNumber}"/>
                        <h:outputText value="#{bundle.ViewBankAccountLabel_bankAccountsBranch}"/>
                        <h:outputText value="#{bankAccountController.selected.bankAccountsBranch}" title="#{bundle.ViewBankAccountTitle_bankAccountsBranch}"/>
                        <h:outputText value="#{bundle.ViewBankAccountLabel_bankAccountsBank}"/>
                        <h:outputText value="#{bankAccountController.selected.bankAccountsBank}" title="#{bundle.ViewBankAccountTitle_bankAccountsBank}"/>
                        <h:outputText value="#{bundle.ViewBankAccountLabel_randomInt}"/>
                        <h:outputText value="#{bankAccountController.selected.randomInt}" title="#{bundle.ViewBankAccountTitle_randomInt}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="BankAccountViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
