<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition>

        <p:dialog id="GeneralTransactionEditDlg" widgetVar="GeneralTransactionEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditGeneralTransactionTitle}">
            <h:form id="GeneralTransactionEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{generalTransactionController.selected != null}">
                        <p:outputLabel value="#{bundle.EditGeneralTransactionLabel_dateCollected}" for="dateCollected" />
                        <p:calendar id="dateCollected" pattern="MM/dd/yyyy HH:mm:ss" value="#{generalTransactionController.selected.dateCollected}" title="#{bundle.EditGeneralTransactionTitle_dateCollected}" required="true" requiredMessage="#{bundle.EditGeneralTransactionRequiredMessage_dateCollected}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditGeneralTransactionLabel_slipNo}" for="slipNo" />
                        <p:inputText id="slipNo" value="#{generalTransactionController.selected.slipNo}" title="#{bundle.EditGeneralTransactionTitle_slipNo}" required="true" requiredMessage="#{bundle.EditGeneralTransactionRequiredMessage_slipNo}"/>
                        <p:outputLabel value="#{bundle.EditGeneralTransactionLabel_chequeNo}" for="chequeNo" />
                        <p:inputText id="chequeNo" value="#{generalTransactionController.selected.chequeNo}" title="#{bundle.EditGeneralTransactionTitle_chequeNo}" required="true" requiredMessage="#{bundle.EditGeneralTransactionRequiredMessage_chequeNo}"/>
                        <p:outputLabel value="#{bundle.EditGeneralTransactionLabel_transactedBy}" for="transactedBy" />
                        <p:inputText id="transactedBy" value="#{generalTransactionController.selected.transactedBy}" title="#{bundle.EditGeneralTransactionTitle_transactedBy}" required="true" requiredMessage="#{bundle.EditGeneralTransactionRequiredMessage_transactedBy}"/>
                        <p:outputLabel value="#{bundle.EditGeneralTransactionLabel_dateWhen}" for="dateWhen" />
                        <p:calendar id="dateWhen" pattern="MM/dd/yyyy HH:mm:ss" value="#{generalTransactionController.selected.dateWhen}" title="#{bundle.EditGeneralTransactionTitle_dateWhen}" required="true" requiredMessage="#{bundle.EditGeneralTransactionRequiredMessage_dateWhen}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditGeneralTransactionLabel_randomInt}" for="randomInt" />
                        <p:inputText id="randomInt" value="#{generalTransactionController.selected.randomInt}" title="#{bundle.EditGeneralTransactionTitle_randomInt}" required="true" requiredMessage="#{bundle.EditGeneralTransactionRequiredMessage_randomInt}"/>
                        <p:outputLabel value="#{bundle.EditGeneralTransactionLabel_member1}" for="member1" />
                        <p:selectOneMenu id="member1" value="#{generalTransactionController.selected.member1}" required="true" requiredMessage="#{bundle.EditGeneralTransactionRequiredMessage_member1}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{membersController.itemsAvailableSelectOne}"
                                           var="member1Item" itemLabel="#{member1Item.name}"
                                           itemValue="#{member1Item}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditGeneralTransactionLabel_paymentMode}" for="paymentMode" />
                        <p:selectOneMenu id="paymentMode" value="#{generalTransactionController.selected.paymentMode}" required="true" requiredMessage="#{bundle.EditGeneralTransactionRequiredMessage_paymentMode}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{paymentModesController.itemsAvailableSelectOne}"
                                           var="paymentModeItem" itemLabel="#{paymentModeItem.name}"
                                           itemValue="#{paymentModeItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditGeneralTransactionLabel_bankAccount}" for="bankAccount" />
                        <p:selectOneMenu id="bankAccount" value="#{generalTransactionController.selected.bankAccount}" required="true" requiredMessage="#{bundle.EditGeneralTransactionRequiredMessage_bankAccount}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{bankAccountController.itemsAvailableSelectOne}"
                                           var="bankAccountItem" itemLabel="#{bankAccountItem.name}"
                                           itemValue="#{bankAccountItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{generalTransactionController.update}" value="#{bundle.Save}" update="display,:GeneralTransactionListForm:datalist,:growl" oncomplete="handleSubmit(args, 'GeneralTransactionEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="GeneralTransactionEditDialog.hide()"  immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>