<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListGeneralTransactionTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        #{bundle.ListGeneralTransactionTitle}
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="/AppContext/faces/dashboard.xhtml">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-newspaper-o"></i> #{bundle.ListGeneralTransactionTitle}
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
            <!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <p:messages id="growl" closable="true" />
                </div>
            </div>
            <h:form id="GeneralTransactionListForm">
                <p:dataTable id="datalist" value="#{generalTransactionController.items}" var="item"
                             selectionMode="single" selection="#{generalTransactionController.selected}"
                             paginator="true"
                             rowKey="#{item.id}"
                             rows="20"
                             rowsPerPageTemplate="10,20,30,40,50"
                             paginatorPosition="bottom"
                             rowIndexVar="rowIndex"
                             >

                    <p:ajax event="rowSelect"   update="createButton editButton"/>
                    <p:ajax event="rowUnselect" update="createButton editButton"/>

                    <p:column style="width: 30px">
                        <f:facet name="header">
                            <h:outputText value="NO."/>
                        </f:facet>
                        <h:outputText value="#{rowIndex+1}"/>                        
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListGeneralTransactionTitle_dateCollected}"/>
                        </f:facet>
                        <h:outputText value="#{item.dateCollected}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListGeneralTransactionTitle_slipNo}"/>
                        </f:facet>
                        <h:outputText value="#{item.slipNo}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListGeneralTransactionTitle_chequeNo}"/>
                        </f:facet>
                        <h:outputText value="#{item.chequeNo}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListGeneralTransactionTitle_transactedBy}"/>
                        </f:facet>
                        <h:outputText value="#{item.transactedBy}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListGeneralTransactionTitle_dateWhen}"/>
                        </f:facet>
                        <h:outputText value="#{item.dateWhen}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListGeneralTransactionTitle_randomInt}"/>
                        </f:facet>
                        <h:outputText value="#{item.randomInt}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListGeneralTransactionTitle_member1}"/>
                        </f:facet>
                        <h:outputText value="#{item.member1}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListGeneralTransactionTitle_paymentMode}"/>
                        </f:facet>
                        <h:outputText value="#{item.paymentMode}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListGeneralTransactionTitle_bankAccount}"/>
                        </f:facet>
                        <h:outputText value="#{item.bankAccount}"/>
                    </p:column>
                    <f:facet name="footer">
                        <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{generalTransactionController.prepareCreate}" update=":GeneralTransactionCreateForm" oncomplete="PF('GeneralTransactionCreateDialog').show()"/>
                        <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":GeneralTransactionEditForm" oncomplete="PF('GeneralTransactionEditDialog').show()" disabled="#{empty generalTransactionController.selected}"/>
                    </f:facet>
                </p:dataTable>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="/confirmation.xhtml"/>
        </ui:define>
    </ui:composition>

</html>