<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SaccoLedgersEditDlg" widgetVar="SaccoLedgersEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditSaccoLedgersTitle}">
            <h:form id="SaccoLedgersEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{saccoLedgersController.selected != null}">
                        <p:outputLabel value="#{bundle.EditSaccoLedgersLabel_id}" for="id" />
                        <p:inputText id="id" value="#{saccoLedgersController.selected.id}" title="#{bundle.EditSaccoLedgersTitle_id}" required="true" requiredMessage="#{bundle.EditSaccoLedgersRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditSaccoLedgersLabel_name}" for="name" />
                        <p:inputText id="name" value="#{saccoLedgersController.selected.name}" title="#{bundle.EditSaccoLedgersTitle_name}" required="true" requiredMessage="#{bundle.EditSaccoLedgersRequiredMessage_name}"/>
                        <p:outputLabel value="#{bundle.EditSaccoLedgersLabel_description}" for="description" />
                        <p:inputText id="description" value="#{saccoLedgersController.selected.description}" title="#{bundle.EditSaccoLedgersTitle_description}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{saccoLedgersController.update}" value="#{bundle.Save}" update="display,:SaccoLedgersListForm:datalist,:growl" oncomplete="handleSubmit(args, 'SaccoLedgersEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="SaccoLedgersEditDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
