<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/admin/template/main.xhtml">


        <ui:define name="title">
            <h:outputText value="Trial Balance"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Trial Balance  <small> Trial Balance</small>
                    </h1>
                </div>
            </div>
            <!-- /.row -->
            <!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <p:messages id="growl" closable="true" />
                </div>
            </div>
            <h:form id="SaccoLedgersListForm">
                <!--<p:commandButton actionListener="#{saccoLedgersController.copy()}"/>-->
                <p:panel header="#{saccoLedgersController.title}">
                    <p:dataTable id="datalist" value="#{saccoLedgersController.items}" var="item"
                                 rowKey="#{item.id}"
                                 rowIndexVar="rowIndex"
                                 >
                        <p:column style="width: 30px">
                            <f:facet name="header">
                                <h:outputText value="NO."/>
                            </f:facet>
                            <h:outputText value="#{rowIndex+1}"/>                        
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSaccoLedgersTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Dr"/>
                            </f:facet>
                            <h:outputText value="#{item.dr}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Cr"/>
                            </f:facet>
                            <h:outputText value="#{item.cr}"/>
                        </p:column>
                        <p:columnGroup type="footer">
                        <p:row>
                            <p:column footerText=""/>
                            <p:column footerText="Total"/>
                            <p:column footerText="#{saccoLedgersController.totalDebits}"/>
                            <p:column footerText="#{saccoLedgersController.totalCredits}"/>
                        </p:row>
                    </p:columnGroup>
                    </p:dataTable>
                </p:panel>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
