<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SaccoLedgersViewDlg" widgetVar="SaccoLedgersViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewSaccoLedgersTitle}">
            <h:form id="SaccoLedgersViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{saccoLedgersController.selected != null}">
                        <h:outputText value="#{bundle.ViewSaccoLedgersLabel_id}"/>
                        <h:outputText value="#{saccoLedgersController.selected.id}" title="#{bundle.ViewSaccoLedgersTitle_id}"/>
                        <h:outputText value="#{bundle.ViewSaccoLedgersLabel_name}"/>
                        <h:outputText value="#{saccoLedgersController.selected.name}" title="#{bundle.ViewSaccoLedgersTitle_name}"/>
                        <h:outputText value="#{bundle.ViewSaccoLedgersLabel_description}"/>
                        <h:outputText value="#{saccoLedgersController.selected.description}" title="#{bundle.ViewSaccoLedgersTitle_description}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="SaccoLedgersViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
