<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/admin/template/main.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListExpensesTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Expenses <small>Manage Sacco Expenses</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->
                <!-- /.row -->
                <div class="row">
                    <div class="col-md-12">
                        <p:messages id="growl" closable="true" />
                    </div>
                </div>
            <h:form id="ExpensesListForm">
                <p:panel header="#{bundle.ListExpensesTitle}">
                    <p:dataTable id="datalist" value="#{expensesController.items}" var="item"
                                 selectionMode="single" selection="#{expensesController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="30"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 paginatorPosition="bottom"
                                 rowIndexVar="rowIndex"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column style="width: 30px">
                            <f:facet name="header">
                                <h:outputText value="NO."/>
                            </f:facet>
                            <h:outputText value="#{rowIndex+1}"/>                        
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListExpensesTitle_narration}"/>
                            </f:facet>
                            <h:outputText value="#{item.narration}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListExpensesTitle_amount}"/>
                            </f:facet>
                            <h:outputText value="#{item.amount}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListExpensesTitle_receiptNo}"/>
                            </f:facet>
                            <h:outputText value="#{item.receiptNo}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListExpensesTitle_dateIncured}"/>
                            </f:facet>
                            <h:outputText value="#{item.dateIncured}">
                                <f:convertDateTime pattern="MM/dd/yyyy"  timeZone="Africa/Nairobi" />
                            </h:outputText>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{expensesController.prepareCreate}" update=":ExpensesCreateForm" oncomplete="PF('ExpensesCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":ExpensesViewForm" oncomplete="PF('ExpensesViewDialog').show()" disabled="#{empty expensesController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":ExpensesEditForm" oncomplete="PF('ExpensesEditDialog').show()" disabled="#{empty expensesController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{expensesController.destroy}" update=":growl,datalist" disabled="#{empty expensesController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
