<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ExpensesViewDlg" widgetVar="ExpensesViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewExpensesTitle}">
            <h:form id="ExpensesViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{expensesController.selected != null}">
                        <h:outputText value="#{bundle.ViewExpensesLabel_narration}"/>
                        <h:outputText value="#{expensesController.selected.narration}" title="#{bundle.ViewExpensesTitle_narration}"/>
                        <h:outputText value="#{bundle.ViewExpensesLabel_amount}"/>
                        <h:outputText value="#{expensesController.selected.amount}" title="#{bundle.ViewExpensesTitle_amount}"/>
                        <h:outputText value="#{bundle.ViewExpensesLabel_receiptNo}"/>
                        <h:outputText value="#{expensesController.selected.receiptNo}" title="#{bundle.ViewExpensesTitle_receiptNo}"/>
                        <h:outputText value="#{bundle.ViewExpensesLabel_dateIncured}"/>
                        <h:outputText value="#{expensesController.selected.dateIncured}" title="#{bundle.ViewExpensesTitle_dateIncured}">
                            <f:convertDateTime pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" />
                        </h:outputText>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ExpensesViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
