<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition>

        <p:dialog id="LoanRecoveryEditDlg" widgetVar="LoanRecoveryEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditLoanRecoveryTitle}">
            <h:form id="LoanRecoveryEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{loanRecoveryController.selected != null}">
                        <p:outputLabel value="#{bundle.EditLoanRecoveryLabel_amount}" for="amount" />
                        <p:inputText id="amount" value="#{loanRecoveryController.selected.amount}" title="#{bundle.EditLoanRecoveryTitle_amount}" required="true" requiredMessage="#{bundle.EditLoanRecoveryRequiredMessage_amount}"/>
                        <p:outputLabel value="#{bundle.EditLoanRecoveryLabel_dateWhen}" for="dateWhen" />
                        <p:calendar id="dateWhen" pattern="MM/dd/yyyy" value="#{loanRecoveryController.selected.dateWhen}" title="#{bundle.EditLoanRecoveryTitle_dateWhen}" required="true" requiredMessage="#{bundle.EditLoanRecoveryRequiredMessage_dateWhen}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditLoanRecoveryLabel_loanId}" for="loanId" />
                        <p:selectOneMenu id="loanId" value="#{loanRecoveryController.selected.loanId}" required="true" requiredMessage="#{bundle.EditLoanRecoveryRequiredMessage_loanId}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{loanController.itemsAvailableSelectOne}"
                                           var="loanIdItem" itemLabel="#{loanIdItem.name}"
                                           itemValue="#{loanIdItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditLoanRecoveryLabel_memberId}" for="memberId" />
                        <p:selectOneMenu id="memberId" value="#{loanRecoveryController.selected.memberId}" required="true" requiredMessage="#{bundle.EditLoanRecoveryRequiredMessage_memberId}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{membersController.itemsAvailableSelectOne}"
                                           var="memberIdItem" itemLabel="#{memberIdItem.name}"
                                           itemValue="#{memberIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{loanRecoveryController.update}" value="#{bundle.Save}" update="display,:LoanRecoveryListForm:datalist,:growl" oncomplete="handleSubmit(args, 'LoanRecoveryEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="LoanRecoveryEditDialog.hide()"  immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>