<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/admin/template/main.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListLoanRecoveryTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        #{bundle.ListLoanRecoveryTitle}
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="/AppContext/faces/dashboard.xhtml">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-newspaper-o"></i> #{bundle.ListLoanRecoveryTitle}
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
            <!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <p:messages id="growl" closable="true" />
                </div>
            </div>
            <h:form id="LoanRecoveryListForm">
                <p:commandButton value="Print">
                    <p:printer target="datalist" />
                </p:commandButton>
                <p:dataTable id="datalist" value="#{loanRecoveryController.items}" var="item"
                             paginator="true"
                             rowKey="#{item.id}"
                             rows="20"
                             rowsPerPageTemplate="10,20,30,40,50"
                             paginatorPosition="bottom"
                             rowIndexVar="rowIndex"
                             >
                    <f:facet name="header">
                        <h:outputLabel value="Loan Recoveries"/>
                    </f:facet>
                    <p:column style="width: 30px">
                        <f:facet name="header">
                            <h:outputText value="NO."/>
                        </f:facet>
                        <h:outputText value="#{rowIndex+1}"/>                        
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListLoanRecoveryTitle_amount}"/>
                        </f:facet>
                        <h:outputText value="#{item.amount}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListLoanRecoveryTitle_dateWhen}"/>
                        </f:facet>
                        <h:outputText value="#{item.dateWhen}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Loaned"/>
                        </f:facet>
                        <h:outputText value="#{item.loanId.memeberId.surname}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Guarantor"/>
                        </f:facet>
                        <h:outputText value="#{item.memberId.surname}"/>
                    </p:column>
                </p:dataTable>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="/confirmation.xhtml"/>
        </ui:define>
    </ui:composition>

</html>