<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LoanRecoveryViewDlg" widgetVar="LoanRecoveryViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewLoanRecoveryTitle}">
            <h:form id="LoanRecoveryViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{loanRecoveryController.selected != null}">
                        <h:outputText value="#{bundle.ViewLoanRecoveryLabel_id}"/>
                        <h:outputText value="#{loanRecoveryController.selected.id}" title="#{bundle.ViewLoanRecoveryTitle_id}"/>
                        <h:outputText value="#{bundle.ViewLoanRecoveryLabel_amount}"/>
                        <h:outputText value="#{loanRecoveryController.selected.amount}" title="#{bundle.ViewLoanRecoveryTitle_amount}"/>
                        <h:outputText value="#{bundle.ViewLoanRecoveryLabel_dateWhen}"/>
                        <h:outputText value="#{loanRecoveryController.selected.dateWhen}" title="#{bundle.ViewLoanRecoveryTitle_dateWhen}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewLoanRecoveryLabel_loanId}"/>
                        <h:outputText value="#{loanRecoveryController.selected.loanId}" title="#{bundle.ViewLoanRecoveryTitle_loanId}"/>
                        <h:outputText value="#{bundle.ViewLoanRecoveryLabel_memberId}"/>
                        <h:outputText value="#{loanRecoveryController.selected.memberId}" title="#{bundle.ViewLoanRecoveryTitle_memberId}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="LoanRecoveryViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
