<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SaccoIncomeCreateDlg" widgetVar="SaccoIncomeCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateSaccoIncomeTitle}">
            <h:form id="SaccoIncomeCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{saccoIncomeController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateSaccoIncomeLabel_transactionNo}" for="transactionNo" />
                        <p:inputText id="transactionNo" value="#{saccoIncomeController.selected.transactionNo}" title="#{bundle.CreateSaccoIncomeTitle_transactionNo}" required="true" requiredMessage="#{bundle.CreateSaccoIncomeRequiredMessage_transactionNo}"/>
                        <p:outputLabel value="#{bundle.CreateSaccoIncomeLabel_dateCollected}" for="dateCollected" />
                        <p:calendar id="dateCollected" pattern="MM/dd/yyyy" value="#{saccoIncomeController.selected.dateCollected}" title="#{bundle.EditSaccoIncomeTitle_dateCollected}" required="true" requiredMessage="#{bundle.EditSaccoIncomeRequiredMessage_dateCollected}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateSaccoIncomeLabel_source}" for="source" />
                        <p:selectOneMenu id="source" value="#{saccoIncomeController.selected.source}" required="true" requiredMessage="#{bundle.EditSaccoIncomeRequiredMessage_source}">
                            <f:selectItems value="#{saccoItemsSellableController.itemsAvailableSelectOne}"
                                           var="sourceItem" itemLabel="#{sourceItem.title}"
                                           itemValue="#{sourceItem}"/>
                            <p:ajax partialSubmit="true" update="amount" event="change" listener="#{saccoIncomeController.onSelect}"/>
                        </p:selectOneMenu>
                    <p:outputLabel value="#{bundle.CreateSaccoIncomeLabel_amount}" for="amount" />
                        <p:inputText id="amount" value="#{saccoIncomeController.selected.amount}" title="#{bundle.CreateSaccoIncomeTitle_amount}" required="true" requiredMessage="#{bundle.CreateSaccoIncomeRequiredMessage_amount}"/>
                        </p:panelGrid>
                    <p:commandButton actionListener="#{saccoIncomeController.create}" value="#{bundle.Save}" update="display,:SaccoIncomeListForm:datalist,:growl" oncomplete="handleSubmit(args,'SaccoIncomeCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="SaccoIncomeCreateDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
