<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SaccoIncomeEditDlg" widgetVar="SaccoIncomeEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditSaccoIncomeTitle}">
            <h:form id="SaccoIncomeEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{saccoIncomeController.selected != null}">
                        <p:outputLabel value="#{bundle.EditSaccoIncomeLabel_transactionNo}" for="transactionNo" />
                        <p:inputText id="transactionNo" value="#{saccoIncomeController.selected.transactionNo}" title="#{bundle.EditSaccoIncomeTitle_transactionNo}" required="true" requiredMessage="#{bundle.EditSaccoIncomeRequiredMessage_transactionNo}"/>
                        <p:outputLabel value="#{bundle.EditSaccoIncomeLabel_dateCollected}" for="dateCollected" />
                        <p:calendar id="dateCollected" pattern="MM/dd/yyyy" value="#{saccoIncomeController.selected.dateCollected}" title="#{bundle.EditSaccoIncomeTitle_dateCollected}" required="true" requiredMessage="#{bundle.EditSaccoIncomeRequiredMessage_dateCollected}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditSaccoIncomeLabel_amount}" for="amount" />
                        <p:inputText id="amount" value="#{saccoIncomeController.selected.amount}" title="#{bundle.EditSaccoIncomeTitle_amount}" required="true" requiredMessage="#{bundle.EditSaccoIncomeRequiredMessage_amount}"/>
                        <p:outputLabel value="#{bundle.EditSaccoIncomeLabel_id}" for="id" />
                        <p:inputText id="id" value="#{saccoIncomeController.selected.id}" title="#{bundle.EditSaccoIncomeTitle_id}" required="true" requiredMessage="#{bundle.EditSaccoIncomeRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditSaccoIncomeLabel_source}" for="source" />
                        <p:selectOneMenu id="source" value="#{saccoIncomeController.selected.source}" required="true" requiredMessage="#{bundle.EditSaccoIncomeRequiredMessage_source}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{saccoItemsSellableController.itemsAvailableSelectOne}"
                                           var="sourceItem"
                                           itemValue="#{sourceItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{saccoIncomeController.update}" value="#{bundle.Save}" update="display,:SaccoIncomeListForm:datalist,:growl" oncomplete="handleSubmit(args, 'SaccoIncomeEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="SaccoIncomeEditDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
