<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/admin/template/main.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListSaccoIncomeTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Sales <small>Perform Sacco Sales</small>
                    </h1>
                </div>
            </div>
            <!-- /.row -->
            <!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <p:messages id="growl" closable="true" />
                </div>
            </div>
            <h:form id="SaccoIncomeListForm">
                <p:panel header="#{bundle.ListSaccoIncomeTitle}">
                    <p:dataTable id="datalist" value="#{saccoIncomeController.items}" var="item"
                                 selectionMode="single" selection="#{saccoIncomeController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="30"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 paginatorPosition="bottom"
                                 rowIndexVar="rowIndex"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column style="width: 30px">
                            <f:facet name="header">
                                <h:outputText value="NO."/>
                            </f:facet>
                            <h:outputText value="#{rowIndex+1}"/>                        
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSaccoIncomeTitle_transactionNo}"/>
                            </f:facet>
                            <h:outputText value="#{item.transactionNo}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSaccoIncomeTitle_dateCollected}"/>
                            </f:facet>
                            <h:outputText value="#{item.dateCollected}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSaccoIncomeTitle_amount}"/>
                            </f:facet>
                            <h:outputText value="#{item.amount}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSaccoIncomeTitle_source}"/>
                            </f:facet>
                            <h:outputText value="#{item.source.title}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{saccoIncomeController.prepareCreate}" update=":SaccoIncomeCreateForm" oncomplete="PF('SaccoIncomeCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":SaccoIncomeViewForm" oncomplete="PF('SaccoIncomeViewDialog').show()" disabled="#{empty saccoIncomeController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":SaccoIncomeEditForm" oncomplete="PF('SaccoIncomeEditDialog').show()" disabled="#{empty saccoIncomeController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{saccoIncomeController.destroy}" update=":growl,datalist" disabled="#{empty saccoIncomeController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
