<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LoanStatusCreateDlg" widgetVar="LoanStatusCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateLoanStatusTitle}">
            <h:form id="LoanStatusCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{loanStatusController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateLoanStatusLabel_idloanStatus}" for="idloanStatus" />
                        <p:inputText id="idloanStatus" value="#{loanStatusController.selected.idloanStatus}" title="#{bundle.CreateLoanStatusTitle_idloanStatus}" required="true" requiredMessage="#{bundle.CreateLoanStatusRequiredMessage_idloanStatus}"/>
                        <p:outputLabel value="#{bundle.CreateLoanStatusLabel_status}" for="status" />
                        <p:inputText id="status" value="#{loanStatusController.selected.status}" title="#{bundle.CreateLoanStatusTitle_status}" required="true" requiredMessage="#{bundle.CreateLoanStatusRequiredMessage_status}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{loanStatusController.create}" value="#{bundle.Save}" update="display,:LoanStatusListForm:datalist,:growl" oncomplete="handleSubmit(args,'LoanStatusCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="LoanStatusCreateDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
