<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DebtorsAccountLedgersEntriesEditDlg" widgetVar="DebtorsAccountLedgersEntriesEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditDebtorsAccountLedgersEntriesTitle}">
            <h:form id="DebtorsAccountLedgersEntriesEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{debtorsAccountLedgersEntriesController.selected != null}">
                        <p:outputLabel value="#{bundle.EditDebtorsAccountLedgersEntriesLabel_id}" for="id" />
                        <p:inputText id="id" value="#{debtorsAccountLedgersEntriesController.selected.id}" title="#{bundle.EditDebtorsAccountLedgersEntriesTitle_id}" required="true" requiredMessage="#{bundle.EditDebtorsAccountLedgersEntriesRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditDebtorsAccountLedgersEntriesLabel_dateWhen}" for="dateWhen" />
                        <p:calendar id="dateWhen" pattern="MM/dd/yyyy" value="#{debtorsAccountLedgersEntriesController.selected.dateWhen}" title="#{bundle.EditDebtorsAccountLedgersEntriesTitle_dateWhen}" required="true" requiredMessage="#{bundle.EditDebtorsAccountLedgersEntriesRequiredMessage_dateWhen}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditDebtorsAccountLedgersEntriesLabel_dr}" for="dr" />
                        <p:inputText id="dr" value="#{debtorsAccountLedgersEntriesController.selected.dr}" title="#{bundle.EditDebtorsAccountLedgersEntriesTitle_dr}" required="true" requiredMessage="#{bundle.EditDebtorsAccountLedgersEntriesRequiredMessage_dr}"/>
                        <p:outputLabel value="#{bundle.EditDebtorsAccountLedgersEntriesLabel_cr}" for="cr" />
                        <p:inputText id="cr" value="#{debtorsAccountLedgersEntriesController.selected.cr}" title="#{bundle.EditDebtorsAccountLedgersEntriesTitle_cr}" required="true" requiredMessage="#{bundle.EditDebtorsAccountLedgersEntriesRequiredMessage_cr}"/>
                        <p:outputLabel value="#{bundle.EditDebtorsAccountLedgersEntriesLabel_debtorsAccountId}" for="debtorsAccountId" />
                        <p:selectOneMenu id="debtorsAccountId" value="#{debtorsAccountLedgersEntriesController.selected.debtorsAccountId}" required="true" requiredMessage="#{bundle.EditDebtorsAccountLedgersEntriesRequiredMessage_debtorsAccountId}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{deptorsController.itemsAvailableSelectOne}"
                                           var="debtorsAccountIdItem"
                                           itemValue="#{debtorsAccountIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{debtorsAccountLedgersEntriesController.update}" value="#{bundle.Save}" update="display,:DebtorsAccountLedgersEntriesListForm:datalist,:growl" oncomplete="handleSubmit(args, 'DebtorsAccountLedgersEntriesEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="DebtorsAccountLedgersEntriesEditDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
