<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListDebtorsAccountLedgersEntriesTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="DebtorsAccountLedgersEntriesListForm">
                <p:panel header="#{bundle.ListDebtorsAccountLedgersEntriesTitle}">
                    <p:dataTable id="datalist" value="#{debtorsAccountLedgersEntriesController.items}" var="item"
                                 selectionMode="single" selection="#{debtorsAccountLedgersEntriesController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDebtorsAccountLedgersEntriesTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDebtorsAccountLedgersEntriesTitle_dateWhen}"/>
                            </f:facet>
                            <h:outputText value="#{item.dateWhen}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDebtorsAccountLedgersEntriesTitle_dr}"/>
                            </f:facet>
                            <h:outputText value="#{item.dr}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDebtorsAccountLedgersEntriesTitle_cr}"/>
                            </f:facet>
                            <h:outputText value="#{item.cr}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDebtorsAccountLedgersEntriesTitle_debtorsAccountId}"/>
                            </f:facet>
                            <h:outputText value="#{item.debtorsAccountId}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{debtorsAccountLedgersEntriesController.prepareCreate}" update=":DebtorsAccountLedgersEntriesCreateForm" oncomplete="PF('DebtorsAccountLedgersEntriesCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":DebtorsAccountLedgersEntriesViewForm" oncomplete="PF('DebtorsAccountLedgersEntriesViewDialog').show()" disabled="#{empty debtorsAccountLedgersEntriesController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":DebtorsAccountLedgersEntriesEditForm" oncomplete="PF('DebtorsAccountLedgersEntriesEditDialog').show()" disabled="#{empty debtorsAccountLedgersEntriesController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{debtorsAccountLedgersEntriesController.destroy}" update=":growl,datalist" disabled="#{empty debtorsAccountLedgersEntriesController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
