<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LoanSchedulesCreateDlg" widgetVar="LoanSchedulesCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateLoanSchedulesTitle}">
            <h:form id="LoanSchedulesCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{loanSchedulesController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateLoanSchedulesLabel_id}" for="id" />
                        <p:inputText id="id" value="#{loanSchedulesController.selected.id}" title="#{bundle.CreateLoanSchedulesTitle_id}" required="true" requiredMessage="#{bundle.CreateLoanSchedulesRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.CreateLoanSchedulesLabel_dueDate}" for="dueDate" />
                        <p:inputText id="dueDate" value="#{loanSchedulesController.selected.dueDate}" title="#{bundle.CreateLoanSchedulesTitle_dueDate}" required="true" requiredMessage="#{bundle.CreateLoanSchedulesRequiredMessage_dueDate}"/>
                        <p:outputLabel value="#{bundle.CreateLoanSchedulesLabel_interest}" for="interest" />
                        <p:inputText id="interest" value="#{loanSchedulesController.selected.interest}" title="#{bundle.CreateLoanSchedulesTitle_interest}" required="true" requiredMessage="#{bundle.CreateLoanSchedulesRequiredMessage_interest}"/>
                        <p:outputLabel value="#{bundle.CreateLoanSchedulesLabel_amount}" for="amount" />
                        <p:inputText id="amount" value="#{loanSchedulesController.selected.amount}" title="#{bundle.CreateLoanSchedulesTitle_amount}" required="true" requiredMessage="#{bundle.CreateLoanSchedulesRequiredMessage_amount}"/>
                        <p:outputLabel value="#{bundle.CreateLoanSchedulesLabel_balBf}" for="balBf" />
                        <p:inputText id="balBf" value="#{loanSchedulesController.selected.balBf}" title="#{bundle.CreateLoanSchedulesTitle_balBf}" required="true" requiredMessage="#{bundle.CreateLoanSchedulesRequiredMessage_balBf}"/>
                        <p:outputLabel value="#{bundle.CreateLoanSchedulesLabel_balCd}" for="balCd" />
                        <p:inputText id="balCd" value="#{loanSchedulesController.selected.balCd}" title="#{bundle.CreateLoanSchedulesTitle_balCd}" required="true" requiredMessage="#{bundle.CreateLoanSchedulesRequiredMessage_balCd}"/>
                        <p:outputLabel value="#{bundle.CreateLoanSchedulesLabel_loanId}" for="loanId" />
                        <p:selectOneMenu id="loanId" value="#{loanSchedulesController.selected.loanId}" required="true" requiredMessage="#{bundle.EditLoanSchedulesRequiredMessage_loanId}">
                            <f:selectItems value="#{loanController.itemsAvailableSelectOne}"
                                           var="loanIdItem"
                                           itemValue="#{loanIdItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateLoanSchedulesLabel_statusCleared}" for="statusCleared" />
                        <p:selectOneMenu id="statusCleared" value="#{loanSchedulesController.selected.statusCleared}" required="true" requiredMessage="#{bundle.EditLoanSchedulesRequiredMessage_statusCleared}">
                            <f:selectItems value="#{scheduleStatusController.itemsAvailableSelectOne}"
                                           var="statusClearedItem"
                                           itemValue="#{statusClearedItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{loanSchedulesController.create}" value="#{bundle.Save}" update="display,:LoanSchedulesListForm:datalist,:growl" oncomplete="handleSubmit(args,'LoanSchedulesCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="LoanSchedulesCreateDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
