<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListLoanSchedulesTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="LoanSchedulesListForm">
                <p:panel header="#{bundle.ListLoanSchedulesTitle}">
                    <p:dataTable id="datalist" value="#{loanSchedulesController.items}" var="item"
                                 selectionMode="single" selection="#{loanSchedulesController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLoanSchedulesTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLoanSchedulesTitle_dueDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.dueDate}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLoanSchedulesTitle_interest}"/>
                            </f:facet>
                            <h:outputText value="#{item.interest}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLoanSchedulesTitle_amount}"/>
                            </f:facet>
                            <h:outputText value="#{item.amount}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLoanSchedulesTitle_balBf}"/>
                            </f:facet>
                            <h:outputText value="#{item.balBf}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLoanSchedulesTitle_balCd}"/>
                            </f:facet>
                            <h:outputText value="#{item.balCd}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLoanSchedulesTitle_loanId}"/>
                            </f:facet>
                            <h:outputText value="#{item.loanId}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLoanSchedulesTitle_statusCleared}"/>
                            </f:facet>
                            <h:outputText value="#{item.statusCleared}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{loanSchedulesController.prepareCreate}" update=":LoanSchedulesCreateForm" oncomplete="PF('LoanSchedulesCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":LoanSchedulesViewForm" oncomplete="PF('LoanSchedulesViewDialog').show()" disabled="#{empty loanSchedulesController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":LoanSchedulesEditForm" oncomplete="PF('LoanSchedulesEditDialog').show()" disabled="#{empty loanSchedulesController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{loanSchedulesController.destroy}" update=":growl,datalist" disabled="#{empty loanSchedulesController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
