<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LoanSchedulesViewDlg" widgetVar="LoanSchedulesViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewLoanSchedulesTitle}">
            <h:form id="LoanSchedulesViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{loanSchedulesController.selected != null}">
                        <h:outputText value="#{bundle.ViewLoanSchedulesLabel_id}"/>
                        <h:outputText value="#{loanSchedulesController.selected.id}" title="#{bundle.ViewLoanSchedulesTitle_id}"/>
                        <h:outputText value="#{bundle.ViewLoanSchedulesLabel_dueDate}"/>
                        <h:outputText value="#{loanSchedulesController.selected.dueDate}" title="#{bundle.ViewLoanSchedulesTitle_dueDate}"/>
                        <h:outputText value="#{bundle.ViewLoanSchedulesLabel_interest}"/>
                        <h:outputText value="#{loanSchedulesController.selected.interest}" title="#{bundle.ViewLoanSchedulesTitle_interest}"/>
                        <h:outputText value="#{bundle.ViewLoanSchedulesLabel_amount}"/>
                        <h:outputText value="#{loanSchedulesController.selected.amount}" title="#{bundle.ViewLoanSchedulesTitle_amount}"/>
                        <h:outputText value="#{bundle.ViewLoanSchedulesLabel_balBf}"/>
                        <h:outputText value="#{loanSchedulesController.selected.balBf}" title="#{bundle.ViewLoanSchedulesTitle_balBf}"/>
                        <h:outputText value="#{bundle.ViewLoanSchedulesLabel_balCd}"/>
                        <h:outputText value="#{loanSchedulesController.selected.balCd}" title="#{bundle.ViewLoanSchedulesTitle_balCd}"/>
                        <h:outputText value="#{bundle.ViewLoanSchedulesLabel_loanId}"/>
                        <h:outputText value="#{loanSchedulesController.selected.loanId}" title="#{bundle.ViewLoanSchedulesTitle_loanId}"/>
                        <h:outputText value="#{bundle.ViewLoanSchedulesLabel_statusCleared}"/>
                        <h:outputText value="#{loanSchedulesController.selected.statusCleared}" title="#{bundle.ViewLoanSchedulesTitle_statusCleared}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="LoanSchedulesViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
