<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="#{userController.template}">


        <ui:define name="title">
            <h:outputText value="Change My Password"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Change My Password
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="/#{clerkController.appContext}/#{userController.dashBoardPath}/dashboard.htm">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-newspaper-o"></i> Change My Password
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
            <!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <p:messages id="growl" closable="true" />
                </div>
            </div>
            <h:form id="UsersEditFormAdmin">
                <h:panelGroup id="display">
                    <p:panelGrid columns="1" rendered="#{!userController.isShowNewPassWordEntry}">
                        <p:inputText id="oldpass" value="#{userController.userOldPassword}" title="oldpass" required="true" requiredMessage="Please enter your old password"/>
                        <p:watermark for="oldpass" value="Old Password"/>
                        <p:commandButton actionListener="#{userController.compare()}" value="Reset" update=":growl,:UsersEditFormAdmin"/>
                    </p:panelGrid>
                    <p:panelGrid id="grid" columns="1" rendered="#{userController.isShowNewPassWordEntry}">
                        <p:password id="newpass" value="#{userController.userNewPassWord}" title="New PassWord" required="true" requiredMessage="New PassWord Confirm" feedback="true" inline="true"/>
                        <p:watermark for="newpass" value="New PassWord"/>
                        <p:password id="newpassconfirm" value="#{userController.userNewPassWordConfirm}" title="Password confirmation" required="true" requiredMessage="Password confirmation required"/>
                        <p:watermark for="newpassconfirm" value="Confirm New PassWord"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{userController.changePassword()}" value="#{bundle.Save}" update="display,:UsersEditFormAdmin,:growl"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="UsersEditDialog.hide()"  immediate="true"/>
                </h:panelGroup>
            </h:form>
        </ui:define>
    </ui:composition>

</html>