<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsersCreateDlg" widgetVar="UsersCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateUsersTitle}">
            <h:form id="UsersCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usersController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateUsersLabel_username}" for="username" />
                        <p:inputText id="username" value="#{usersController.selected.username}" title="#{bundle.CreateUsersTitle_username}" required="true" requiredMessage="#{bundle.CreateUsersRequiredMessage_username}"/>
                        <p:outputLabel value="#{bundle.CreateUsersLabel_pwd}" for="pwd" />
                        <p:inputText id="pwd" value="#{usersController.selected.pwd}" title="#{bundle.CreateUsersTitle_pwd}" required="true" requiredMessage="#{bundle.CreateUsersRequiredMessage_pwd}"/>
                        <p:outputLabel value="#{bundle.CreateUsersLabel_role}" for="role" />
                        <p:inputText id="role" value="#{usersController.selected.role}" title="#{bundle.CreateUsersTitle_role}" required="true" requiredMessage="#{bundle.CreateUsersRequiredMessage_role}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usersController.create}" value="#{bundle.Save}" update="display,:UsersListForm:datalist,:growl" oncomplete="handleSubmit(args,'UsersCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="UsersCreateDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
