<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/admin/template/main.xhtml">


        <ui:define name="title">
            <h:outputText value="Create Bulk Collections"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <p:messages id="growl" closable="true" />
                </div>
            </div>
            <h:form id="CollectionsListForm">
                <p:dataTable id="datalist" value="#{collectionsController.dummy}" var="item"
                             rowKey="#{item.id}"
                             rowIndexVar="rowIndex"
                             editable="true"
                             editMode="cell"
                             >

                    <p:ajax event="cellEdit" listener="#{collectionsController.onRowEdit}" update=":CollectionsListForm:datalist,:growl" />

                    <f:facet name="header">
                        <p:panelGrid columns="7">
                            <p:outputLabel value="No Of Receipts"/>
                            <p:inputText id="counter" value="#{collectionsController.dummyCount}"  required="true" requiredMessage="alue required">
                                <p:ajax partialSubmit="true"/>
                            </p:inputText>
                            <p:outputLabel value="Date"/>
                            <p:calendar id="datedate" pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" value="#{collectionsController.dummyDate}" title="#{bundle.CreateLoanTitle_issueDate}" required="true" requiredMessage="#{bundle.CreateLoanRequiredMessage_issueDate}">
                                <p:ajax partialSubmit="true" event="dateSelect"/>
                            </p:calendar>
                            <p:outputLabel value="Collection Type"/>
                            <p:selectOneMenu filter="true" id="collectiontype" value="#{collectionsController.cl}" required="true" requiredMessage="#{bundle.EditCollectionsRequiredMessage_memberId}">
                                <f:selectItem itemLabel="Select One"/>
                                <f:selectItems value="#{collectionsTypesController.itemsAvailableSelectOne}"
                                               var="collectiontype" itemLabel="#{collectiontype.type}"
                                               itemValue="#{collectiontype}"/>
                                <p:ajax partialSubmit="true" update="datalist" event="change"/>
                            </p:selectOneMenu>
                            <p:commandButton value="Generate List" update=":CollectionsListForm:datalist"/>
                        </p:panelGrid>
                    </f:facet>
                    <p:column style="width: 30px">
                        <f:facet name="header">
                            <h:outputText value="NO."/>
                        </f:facet>
                        <h:outputText value="#{rowIndex+1}"/>                        
                    </p:column>
                    <p:column headerText="Date">
                        <h:outputText value="#{item.dateCollected}">
                            <f:convertDateTime pattern="MM/dd/yy" timeZone="Africa/Nairobi" />
                        </h:outputText>
                    </p:column>                   
                    <p:column headerText="Receipt Type">
                        <h:outputText value="#{item.collectionstype.type}"/>
                    </p:column>
                    <p:column headerText="#{bundle.ListCollectionsTitle_memberId}">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{item.memberId.surname}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:selectOneMenu filter="true" id="memberIdl" value="#{item.memberId}" required="true" requiredMessage="#{bundle.EditCollectionsRequiredMessage_memberId}">
                                    <f:selectItem itemLabel="Select One"/>
                                    <f:selectItems value="#{membersController.itemsAvailableSelectOne}"
                                                   var="memberIdIteml" itemLabel="#{memberIdIteml.trimmedSurname}"
                                                   itemValue="#{memberIdIteml}"/>
                                </p:selectOneMenu>
                            </f:facet>
                        </p:cellEditor>
                    </p:column> 
                    <p:column headerText="#{bundle.ListCollectionsTitle_amount}">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{item.amount}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText id="en" value="#{item.amount}">
                                </p:inputText>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:columnGroup type="footer">
                        <p:row>
                            <p:column footerText=""/>
                            <p:column footerText=""/>
                            <p:column footerText=""/>
                            <p:column footerText="Total Receipts"/>
                            <p:column footerText="#{collectionsController.dummyTotal}"/>
                        </p:row>
                        <p:row>
                            <p:column footerText=""/>
                            <p:column footerText=""/>
                            <p:column footerText=""/>
                            <p:column footerText="Total Savings"/>
                            <p:column footerText="#{collectionsController.dummyTotalSavings}"/>
                        </p:row>
                        <p:row>
                            <p:column footerText=""/>
                            <p:column footerText=""/>
                            <p:column footerText=""/>
                            <p:column footerText="Total Emergency Loan"/>
                            <p:column footerText="#{collectionsController.dummyTotalEmergency}"/>
                        </p:row>
                        <p:row>
                            <p:column footerText=""/>
                            <p:column footerText=""/>
                            <p:column footerText=""/>
                            <p:column footerText="Total Normal Loan"/>
                            <p:column footerText="#{collectionsController.dummyTotalNormal}"/>
                        </p:row>
                    </p:columnGroup>
                    <f:facet name="footer">
                        <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{collectionsController.test()}" update="datalist,:growl">
                            <p:confirm header="Create Bulk Collections." message="Confirm this information...Receipts Type:#{collectionsController.cl.type}    Total:#{collectionsController.dummyTotal}" icon="ui-icon-alert"/>
                        </p:commandButton><p:commandButton id="btn" value="previewTotal" update="datalist"/>
                    </f:facet>
                </p:dataTable>
            </h:form>
            <ui:include src="/confirmation.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
