<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CollectionsCreateDlg" widgetVar="CollectionsCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateCollectionsTitle}">
            <h:form id="CollectionsCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{collectionsController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateCollectionsLabel_memberId}" for="memberId" />
                        <p:selectOneMenu filter="true" id="memberId" value="#{collectionsController.selected.memberId}" required="true" requiredMessage="#{bundle.EditCollectionsRequiredMessage_memberId}">
                            <f:selectItems value="#{membersController.itemsAvailableSelectOne}"
                                           var="memberIdItem" itemLabel="#{memberIdItem.trimmedSurname}"
                                           itemValue="#{memberIdItem}"/>
                            <p:ajax partialSubmit="true" event="change" update="othername"/>
                        </p:selectOneMenu>    
                        <p:outputLabel value="Membership Status" for="othername"/>
                        <p:outputLabel id="othername"  value="#{collectionsController.selected.memberId.membershipStatus}" />
                        <p:outputLabel value="Receipt Type" for="memberIdl" />
                        <p:selectOneMenu id="memberIdl" value="#{collectionsController.cl}" required="true" requiredMessage="#{bundle.EditCollectionsRequiredMessage_memberId}">
                            <f:selectItems value="#{collectionsTypesController.itemsAvailableSelectOne}"
                                           var="memberIdIteml" itemLabel="#{memberIdIteml.type}"
                                           itemValue="#{memberIdIteml}"/>
                            <p:ajax partialSubmit="true" update="display" event="change"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateCollectionsLabel_amount}"/>
                        <p:inputText id="amount" value="#{collectionsController.selected.amount}" title="#{bundle.CreateCollectionsTitle_amount}" required="true" requiredMessage="#{bundle.CreateCollectionsRequiredMessage_amount}" style="background-color: #f7ecb5" rendered="#{collectionsController.cl.id==1}"/>
                        <p:inputText id="amount2" value="#{collectionsController.selected.amount}" title="#{bundle.CreateCollectionsTitle_amount}" required="true" requiredMessage="#{bundle.CreateCollectionsRequiredMessage_amount}" style="background-color: #9acfea" rendered="#{collectionsController.cl.id==2}"/>
                        <p:inputText id="amount3" value="#{collectionsController.selected.amount}" title="#{bundle.CreateCollectionsTitle_amount}" required="true" requiredMessage="#{bundle.CreateCollectionsRequiredMessage_amount}" style="background-color: #b2dba1" rendered="#{collectionsController.cl.id==3}"/>
                        <p:inputText id="amount4" value="#{collectionsController.selected.amount}" title="#{bundle.CreateCollectionsTitle_amount}" required="true" requiredMessage="#{bundle.CreateCollectionsRequiredMessage_amount}" style="background-color: #e2e2e2" rendered="#{collectionsController.cl.id==4}"/>
                        <p:outputLabel value="#{bundle.CreateCollectionsLabel_dateCollected}" for="dateCollected" />
                        <p:calendar id="dateCollected" pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" value="#{collectionsController.dateEntry}" title="#{bundle.EditCollectionsTitle_dateCollected}" required="true" requiredMessage="#{bundle.EditCollectionsRequiredMessage_dateCollected}" showOn="button"/>
                    
                        
<!--                        <p:outputLabel value="Receipt No." for="receiptno" />
                        <p:inputText id="receiptno" value="#{collectionsController.selected.receiptNo}" title="#{bundle.CreateCollectionsTitle_amount}" required="true" requiredMessage="#{bundle.CreateCollectionsRequiredMessage_amount}"/>-->
                    
                    </p:panelGrid>
                    <p:commandButton actionListener="#{collectionsController.create}" value="#{bundle.Save}" update="display,:CollectionsListForm:datalist,:growl" oncomplete="handleSubmit(args,'CollectionsCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="CollectionsCreateDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
