<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CollectionsEditDlg" widgetVar="CollectionsEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditCollectionsTitle}">
            <h:form id="CollectionsEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{collectionsController.selected != null}">
                        <p:outputLabel value="#{bundle.EditCollectionsLabel_dateCollected}" for="dateCollected" />
                        <p:calendar id="dateCollected" pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" value="#{collectionsController.selected.dateCollected}" title="#{bundle.EditCollectionsTitle_dateCollected}" required="true" requiredMessage="#{bundle.EditCollectionsRequiredMessage_dateCollected}" showOn="button"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{collectionsController.update}" value="#{bundle.Save}" update="display,:CollectionsListForm:datalist,:growl" oncomplete="handleSubmit(args, 'CollectionsEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="CollectionsEditDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
