<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/admin/template/main.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListCollectionsTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <p:messages id="growl" closable="true" />
                </div>
            </div>
            <h:form id="CollectionsListForm">
                <p:dataTable id="datalist" value="#{collectionsController.itemsAvailableSelectOne}" var="item"
                             selectionMode="single" selection="#{collectionsController.selected}"
                             paginator="true"
                             rowKey="#{item.id}"
                             rows="30"
                             rowsPerPageTemplate="10,20,30,40,50"
                             paginatorPosition="bottom"
                             rowIndexVar="rowIndex"
                             >

                    <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                    <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                    <f:facet name="header">
                        <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{collectionsController.prepareCreate}" update=":CollectionsCreateForm" oncomplete="PF('CollectionsCreateDialog').show()"/>
                        <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":CollectionsViewForm" oncomplete="PF('CollectionsViewDialog').show()" disabled="#{empty collectionsController.selected}"/>
                        <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":CollectionsEditForm" oncomplete="PF('CollectionsEditDialog').show()" disabled="#{empty collectionsController.selected}"/>
                        <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{collectionsController.destroy}" update=":growl,datalist" disabled="#{empty collectionsController.selected}"/>
                    </f:facet>
                    <p:column style="width: 30px">
                        <f:facet name="header">
                            <h:outputText value="NO."/>
                        </f:facet>
                        <h:outputText value="#{rowIndex+1}"/>                        
                    </p:column>
                    <p:column filterBy="#{item.amount}">
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListCollectionsTitle_amount}"/>
                        </f:facet>
                        <h:outputText value="#{item.amount}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListCollectionsTitle_dateCollected}"/>
                        </f:facet>
                        <h:outputText value="#{item.dateCollected}">
                            <f:convertDateTime pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" />
                        </h:outputText>
                    </p:column>
                    <p:column filterBy="#{item.memberId.trimmedSurname}">
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListCollectionsTitle_memberId}"/>
                        </f:facet>
                        <h:outputText value="#{item.memberId.surname}"/>
                    </p:column>                    
                    <p:column filterBy="#{item.collectionstype.type}">
                        <f:facet name="header">
                            <h:outputText value="Receipt Type"/>
                        </f:facet>
                        <h:outputText value="#{item.collectionstype.type}"/>
                    </p:column>
                </p:dataTable>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
