<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition>

        <p:dialog id="CollectionsCreateDlg" widgetVar="CollectionsCreateUploadDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateCollectionsTitle}">
            <h:form id="CollectionsCreateUploadForm" enctype="multipart/form-data">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2">
                        <h:outputLabel value="Select Image" for="file" />
                        <h:inputFile id="file" value="#{collectionsController.filePart}"/>
                        <h:commandButton value="Upload"
                                         action="#{collectionsController.upload}" onclick="return validateUpload()">
                            <f:ajax execute="file" render="@all"/>
                        </h:commandButton>
                    </p:panelGrid>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
