<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DepositCashEditDlg" widgetVar="DepositCashEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditDepositCashTitle}">
            <h:form id="DepositCashEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{depositCashController.selected != null}">
                        <p:outputLabel value="WithDrawable" for="statusBilled" />
                        <p:selectBooleanCheckbox id="statusBilled" value="#{depositCashController.selected.isWithdrawable}" required="true" requiredMessage="#{bundle.EditCollectionsRequiredMessage_statusBilled}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{depositCashController.update}" value="#{bundle.Save}" update="display,:DepositCashListForm:datalist,:growl" oncomplete="handleSubmit(args, 'DepositCashEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="DepositCashEditDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
