<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/admin/template/main.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListDepositCashTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
             <!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <p:messages id="growl" closable="true" />
                </div>
            </div>
            <h:form id="DepositCashListForm">
                <p:panel header="#{bundle.ListDepositCashTitle} Of Deposits">
                    <p:dataTable id="datalist" value="#{depositCashController.items}" var="item"
                                 selectionMode="single" selection="#{depositCashController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="20"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 paginatorPosition="bottom"
                                 rowIndexVar="rowIndex"
                                 >
                        <p:column style="width: 30px">
                            <f:facet name="header">
                                <h:outputText value="NO."/>
                            </f:facet>
                            <h:outputText value="#{rowIndex+1}"/>                        
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDepositCashTitle_date}"/>
                            </f:facet>
                            <h:outputText value="#{item.date}">
                                <f:convertDateTime pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDepositCashTitle_description}"/>
                            </f:facet>
                            <h:outputText value="#{item.description}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDepositCashTitle_transactedBy}"/>
                            </f:facet>
                            <h:outputText value="#{item.transactedBy}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDepositCashTitle_chequeNo}"/>
                            </f:facet>
                            <h:outputText value="#{item.chequeNo}"/>
                        </p:column>
                        <p:column filterBy="#{item.memberNo.trimmedSurname}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDepositCashTitle_memberNo}"/>
                            </f:facet>
                            <h:outputText value="#{item.memberNo.surname}"/>
                        </p:column>
                        <p:column filterBy="#{item.amount}">
                            <f:facet name="header">
                                <h:outputText value="Amount"/>
                            </f:facet>
                            <h:outputText value="#{item.amount}"/>
                        </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="WithDrawable"/>
                        </f:facet>
                        <p:outputLabel value="#{item.isWithdrawable}"/>
                    </p:column>
                    </p:dataTable>
                </p:panel>
            </h:form>

        </ui:define>
    </ui:composition>

</html>
