<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
        <f:metadata>
            <f:event type="javax.faces.event.PreRenderViewEvent" listener="#{userController.authorizedUserControl}"/>
        </f:metadata>
    <h:head>
        <title>Login</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- Bootstrap -->
        <h:outputStylesheet library="css" name="bootstrap.min.css" />
        <h:outputStylesheet library="bootstrap/css" name="bootstrap-theme.min.css"/>
        <link href="resources/css/style_1.css" rel="stylesheet" media="screen"/>
        <h:outputScript library="js" name="bootstrap.min.js" />
        <!-- Bootstrap -->
    </h:head>
   <h:body  style="background-image: url(#{request.contextPath}/resources/images/background.jpg)">
        <div id="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <br/><br/><br/><br/><br/><br/><br/>
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">Welcome. Please login here</div>
                        <div class="panel-body">
                            <h:form id="login" prependId="false">
                                <h:messages showDetail="false" />
                                <h:panelGrid  columnClasses="loginTD" columns="1" cellpadding="2" cellspacing="2">
                                    <fieldset>
                                        <div class="form-group">
                                            <h:inputText class="form-control" id="username" value="#{userController.username}"
                                                         required="true" requiredMessage="The username value is required."/>

                                            <p:watermark for="username" value="Username"/>
                                        </div>
                                        <div class="form-group">
                                            <h:inputSecret class="form-control" id="pass" value="#{userController.password}"
                                                           required="true" requiredMessage="The password value is required." size="30"/>
                                            <p:watermark for="pass" value="Password"/>
                                        </div>
                                        <div class="checkbox">
                                            <h:panelGroup>
                                                <h:selectBooleanCheckbox value="#{userController.rememberMe}" />
                                                <p style=" display: inline; color: #cccccc; margin-left: 2px;">Remember me</p>

                                            </h:panelGroup>
                                        </div>
                                        <h:outputLabel/>
                                        <h:commandButton disabled="#{userController.attempts > 5}" action="#{userController.loginUser}" styleClass="btn btn-lg btn-success btn-block" value="Login"/>
                                    </fieldset>
                                </h:panelGrid>
                            </h:form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </h:body>
</html>