<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LoanCreateDlg" widgetVar="LoanCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateLoanTitle}">
            <h:form id="LoanCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{loanController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateLoanLabel_loanId}" for="loanId" />
                        <p:inputText id="loanId" value="#{loanController.selected.loanId}" title="#{bundle.CreateLoanTitle_loanId}" required="true" requiredMessage="#{bundle.CreateLoanRequiredMessage_loanId}"/>
                        <p:outputLabel value="#{bundle.CreateLoanLabel_duration}" for="duration" />
                        <p:inputText id="duration" value="#{loanController.selected.duration}" title="#{bundle.CreateLoanTitle_duration}" required="true" requiredMessage="#{bundle.CreateLoanRequiredMessage_duration}"/>
                        <p:outputLabel value="#{bundle.CreateLoanLabel_issueDate}" for="issueDate" />
                        <p:inputText id="issueDate" value="#{loanController.selected.issueDate}" title="#{bundle.CreateLoanTitle_issueDate}" required="true" requiredMessage="#{bundle.CreateLoanRequiredMessage_issueDate}"/>
                        <p:outputLabel value="#{bundle.CreateLoanLabel_amount}" for="amount" />
                        <p:inputText id="amount" value="#{loanController.selected.amount}" title="#{bundle.CreateLoanTitle_amount}" required="true" requiredMessage="#{bundle.CreateLoanRequiredMessage_amount}"/>
                        <p:outputLabel value="#{bundle.CreateLoanLabel_interestRate}" for="interestRate" />
                        <p:inputText id="interestRate" value="#{loanController.selected.interestRate}" title="#{bundle.CreateLoanTitle_interestRate}" required="true" requiredMessage="#{bundle.CreateLoanRequiredMessage_interestRate}"/>
                        <p:outputLabel value="#{bundle.CreateLoanLabel_memeberId}" for="memeberId" />
                        <p:selectOneMenu id="memeberId" value="#{loanController.selected.memeberId}" required="true" requiredMessage="#{bundle.EditLoanRequiredMessage_memeberId}">
                            <f:selectItems value="#{membersController.itemsAvailableSelectOne}"
                                           var="memeberIdItem"
                                           itemValue="#{memeberIdItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateLoanLabel_loanStatus}" for="loanStatus" />
                        <p:selectOneMenu id="loanStatus" value="#{loanController.selected.loanStatus}" required="true" requiredMessage="#{bundle.EditLoanRequiredMessage_loanStatus}">
                            <f:selectItems value="#{loanStatusController.itemsAvailableSelectOne}"
                                           var="loanStatusItem"
                                           itemValue="#{loanStatusItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{loanController.create}" value="#{bundle.Save}" update="display,:LoanListForm:datalist,:growl" oncomplete="handleSubmit(args,'LoanCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="LoanCreateDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
