<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/admin/template/main.xhtml">


        <ui:define name="title">
            <h:outputText value="Loans To Memers"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Loans <small>List of Loans to members</small>
                    </h1>
                </div>
            </div>
            <!-- /.row -->
            <!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <p:messages id="growl" closable="true" />
                </div>
            </div>
            <h:form id="LoanListForm">
                <p:panel header="#{loanController.title}">
                    <p:dataTable id="datalist" value="#{loanController.items}" var="item"
                                 rowKey="#{item.loanId}"
                                 rowIndexVar="rowIndex"
                                 rowStyleClass="#{item.isDeffaulted le false ?  true: 'coloredloan'}"
                                 >
                        <p:column style="width: 30px">
                            <f:facet name="header">
                                <h:outputText value="NO."/>
                            </f:facet>
                            <h:outputText value="#{rowIndex+1}"/>                        
                        </p:column>
                        <p:column filterBy="#{item.memeberId.trimmedSurname}" sortBy="#{item.memeberId.surname}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLoanTitle_memeberId}"/>
                            </f:facet>
                            <h:outputText value="#{item.memeberId.surname}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLoanTitle_issueDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.issueDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" timeZone="Africa/Nairobi" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Loan Type"/>
                            </f:facet>
                            <h:outputText value="#{item.loantype.loanType}"/>
                        </p:column>
                        <p:column filterBy="#{item.statusStr}" >
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLoanTitle_loanStatus}"/>
                            </f:facet>
                            <h:outputText value="#{item.statusStr}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Months Deffaulted"/>
                            </f:facet>
                            <h:outputText value="#{item.deffaultCount}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLoanTitle_amount}"/>
                            </f:facet>
                            <h:outputText value="#{item.amount}"/>
                        </p:column>
                        <p:column filterBy="#{item.balEst}">
                            <f:facet name="header">
                                <h:outputText value="Balance With Interests"/>
                            </f:facet>
                            <h:outputText value="#{item.balEst}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Negotiation Fee"/>
                            </f:facet>
                            <h:outputText value="#{item.negotiationFee}"/>
                        </p:column>                        
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Interest Earned"/>
                            </f:facet>
                            <h:outputText value="#{item.totalInterestEarned}"/>
                        </p:column>
                        <p:columnGroup type="footer">
                            <p:row>
                                <p:column footerText=""/>
                                <p:column footerText=""/>
                                <p:column footerText=""/>
                                <p:column footerText=""/>
                                <p:column footerText=""/>
                                <p:column footerText="Total"/>
                                <p:column footerText="#{loanController.totalLoans}"/>
                                <p:column footerText="#{loanController.totalLoansBalances}"/>  
                                <p:column footerText="#{loanController.totalLoansNegotiation}"/> 
                                <p:column footerText="#{loanController.totalLoansInterest}"/> 
                            </p:row>
                        </p:columnGroup>
                    </p:dataTable>
                </p:panel>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
