<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LoanViewDlg" widgetVar="LoanViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewLoanTitle}">
            <h:form id="LoanViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{loanController.selected != null}">
                        <h:outputText value="#{bundle.ViewLoanLabel_loanId}"/>
                        <h:outputText value="#{loanController.selected.loanId}" title="#{bundle.ViewLoanTitle_loanId}"/>
                        <h:outputText value="#{bundle.ViewLoanLabel_duration}"/>
                        <h:outputText value="#{loanController.selected.duration}" title="#{bundle.ViewLoanTitle_duration}"/>
                        <h:outputText value="#{bundle.ViewLoanLabel_issueDate}"/>
                        <h:outputText value="#{loanController.selected.issueDate}" title="#{bundle.ViewLoanTitle_issueDate}"/>
                        <h:outputText value="#{bundle.ViewLoanLabel_amount}"/>
                        <h:outputText value="#{loanController.selected.amount}" title="#{bundle.ViewLoanTitle_amount}"/>
                        <h:outputText value="#{bundle.ViewLoanLabel_interestRate}"/>
                        <h:outputText value="#{loanController.selected.interestRate}" title="#{bundle.ViewLoanTitle_interestRate}"/>
                        <h:outputText value="#{bundle.ViewLoanLabel_memeberId}"/>
                        <h:outputText value="#{loanController.selected.memeberId}" title="#{bundle.ViewLoanTitle_memeberId}"/>
                        <h:outputText value="#{bundle.ViewLoanLabel_loanStatus}"/>
                        <h:outputText value="#{loanController.selected.loanStatus}" title="#{bundle.ViewLoanTitle_loanStatus}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="LoanViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
