<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DebtorsCreateDlg" widgetVar="DebtorsCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateDebtorsTitle}">
            <h:form id="DebtorsCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{deptorsController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateDebtorsLabel_deptorsName}" for="deptorsName" />
                        <p:inputText id="deptorsName" value="#{deptorsController.selected.deptorsName}" title="#{bundle.CreateDebtorsTitle_deptorsName}" required="true" requiredMessage="#{bundle.CreateDebtorsRequiredMessage_deptorsName}"/>
                        <p:outputLabel value="#{bundle.CreateDebtorsLabel_description}" for="description" />
                        <p:inputText id="description" value="#{deptorsController.selected.description}" title="#{bundle.CreateDebtorsTitle_description}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{deptorsController.create}" value="#{bundle.Save}" update="display,:DebtorsListForm:datalist,:growl" oncomplete="handleSubmit(args,'DebtorsCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="DebtorsCreateDialog.hide()" immediate="true"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
