<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DebtorsViewDlg" widgetVar="DebtorsViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewDebtorsTitle}">
            <h:form id="DebtorsViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{deptorsController.selected != null}">
                        <h:outputText value="#{bundle.ViewDebtorsLabel_id}"/>
                        <h:outputText value="#{deptorsController.selected.id}" title="#{bundle.ViewDebtorsTitle_id}"/>
                        <h:outputText value="#{bundle.ViewDebtorsLabel_deptorsName}"/>
                        <h:outputText value="#{deptorsController.selected.deptorsName}" title="#{bundle.ViewDebtorsTitle_deptorsName}"/>
                        <h:outputText value="#{bundle.ViewDebtorsLabel_description}"/>
                        <h:outputText value="#{deptorsController.selected.description}" title="#{bundle.ViewDebtorsTitle_description}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="DebtorsViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
